{% extends "base.html" %}

{% block js %}
    <script>
    jQuery(document).ready(function($) {
        $('#form').submit(function(event) {
            /* Act on the event */
            if ($('#id_contrasenaAnterior').val() == '') {
                swal("Alerta!!!","Debes colocar tu contraseña anterior");
                return false;
            } else if ($('#id_contrasenaNueva').val() == '' && $('#id_contrasenaAnterior').val() != '') {
                swal("Alerta!!!","Debes colocar una contraseña nueva");
                return false;
            } else {
                if ($('#id_contrasenaNueva').val() != $('#id_contrasenaNuevaVerificacion').val()) {
                    swal("Alerta!!!","Tus contraseñas no coinciden");
                    return false;
                } else if ($('id_contrasenaNueva').val() != '' && $('#id_contrasenaNuevaVerificacion').val() == '') {
                    swal("Alerta!!!","Debes verificar la contraseña nueva");
                    return false;
                } else {
                    return true;
                }
            }
        });
    });
    </script>
{% endblock js %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend><h3>Cambiar Contrase&ntilde;a</h3></legend>
            </h1>
        </div>
        {% if ok %}
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha editado el perfil correctamente</p>
                </div>
            </div>
        {% endif %}
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group fg-float input-group-lg">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-shield-security"></i>
                            </span>
                            <div class="fg-line requerido">
                                <input type="password" id="id_contrasenaAnterior" name="contrasenaAnterior" class="form-control input-lg">
                                <label for="id_contrasenaAnterior" class="fg-label requerido">Contraseña Anterior:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float input-group-lg">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-shield-security"></i>
                            </span>
                            <div class="fg-line requerido">
                                <input type="password" id="id_contrasenaNueva" name="contrasenaNueva" class="form-control input-lg">
                                <label for="id_contrasenaNueva" class="fg-label requerido">Contraseña Nueva: </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float input-group-lg">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-shield-check"></i>
                            </span>
                            <div class="fg-line requerido">
                                <input type="password" id="id_contrasenaNuevaVerificacion" name="contrasenaNuevaVerificacion" class="form-control input-lg">
                                <label for="id_contrasenaNuevaVerificacion" class="fg-label requerido">Confirmar Nueva Contraseña:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button type="submit" value="Cambiar Contraseña" class="btn btn-primary btn-block">Cambiar Contraseña</button>
					</div>
				</div>
            </div>
        </form>
    </div>
</div>
{% endblock %} 


