{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend><h3>{{accion}} Escalaf&oacute;n</h3></legend>
            </h1>
        {% if ok %}
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} el escalaf&oacute;n correctamente. {% if accion == 'Editar' %}Haga click en aceptar para editar el escalaf&oacute;n siguiente o{% endif %}</p>
                </div>
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="row">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Aún hay campos vacios. No se creó el escalafón</p>
                </div>
            </div>
        {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float input-group-lg {{form.celulas.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-globe"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_celulas" class="control-label requerido">Celulas:</label>
                                {{form.celulas}}
                            </div>
                            {% for error in form.celulas.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group fg-float input-group-lg {{form.rango.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-portable-wifi"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_rango" class="control-label requerido">Rango:</label>
                                {{form.rango}}
                            </div>
                            {% for error in form.rango.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="card-body card-padding">
                            <div class="form-group {{form.descripcion.css_classes}}">
                                <div class="fg-line requerido">
                                <label class="control-label">Descripcion:</label>
                                    {{form.descripcion}}
                                </div>
                            {% for error in form.descripcion.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="card-body card-padding">
                            <div class="form-group {{form.descripcion.css_classes}}">
                                <div class="fg-line requerido">
                                <label class="control-label">Logro:</label>
                                    {{form.logro}}
                                </div>
                            {% for error in form.descripcion.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button type="submit" value="Aceptar" class="btn btn-primary btn-block">Aceptar</button>
					</div>
				</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
