{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-selection").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less',
                    },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    keepSelection: true,
                    caseSensitive: false,
                })

        var $seleccionados = [];
        var $seleccion = [];
        
        {% for m in miembros  %}
            {% if m.cumplio %}
                $seleccionados.push('{{m.id}}');
                $seleccion.push('{{m.id}}');
            {% endif %}
        {% endfor %}

        $("#data-table-selection").bootgrid().on("loaded.rs.jquery.bootgrid", function(e) {
            var $seleccionados_event_loaded = $seleccionados.slice(0);
            $(this).bootgrid('select', $seleccionados_event_loaded);
        });

        $("#data-table-selection").bootgrid().on("selected.rs.jquery.bootgrid", function(e, selectedRows) {
            for (var x = 0; x < selectedRows.length; x++) {
                if (typeof selectedRows[x].id === "string") {
                    $seleccion.push(selectedRows[x].id);
                }
            }
        });

        $("#data-table-selection").bootgrid().on("deselected.rs.jquery.bootgrid", function(e, deselectedRows) {
            for (var x = 0; x < deselectedRows.length; x++) {
                if (typeof deselectedRows[x].id === "string") {
                    // delete $seleccion[parseInt(deselectedRows[x].id)];
                    var aux = $seleccion.indexOf(deselectedRows[x].id);
                    $seleccion
                    var aux2 = $seleccionados.indexOf(deselectedRows[x].id);
                    // $seleccion[aux]
                    if (aux in $seleccion) {
                        delete $seleccion[aux]
                    }

                    if (aux2 in $seleccionados) {
                        delete $seleccionados[aux2]
                    }
                }
            }
        });

        $("button[name='promoverPaso']").click(function(event) {
            if (!$('tr').hasClass('active')) {
                swal("Nadie para promover")
                event.preventDefault();
            } else {
                return true;
            }
        });

        $("button[name='verMiembros']").click(function(event) {
            if ($('#idPasos').val() == -1) {
                swal("Alerta","Asegurate de escoger un paso")
                event.preventDefault();
            } else {
                return true;
            }
        });

        $('#form').submit(function(event) {
            for (var i = 0; i < $seleccion.length; i++) {
                var x = $seleccion[i];
                $('button[name="promoverPaso"]').append('<input type="hidden" name="seleccionados" value="'+ x.toString() +'">')
            }
        });
    })
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Pasos</h3></legend>
            </h1>
            {% if ok %}
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha editado correctamente el cumplimiento de pasos.</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-body card-padding">
        <form id="form" action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <select name="menuPasos" id="idPasos" class="selectpicker">
                        <option value="-1" {% if not pasoE %} selected="selected" {% endif %}>Selecciona un paso</option>
                        {% for p in pasos %}
                            <option value="{{ p.id }}" {% if p == pasoE %} selected="selected" {% endif %}>{{ p.nombre|capfirst }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <br class="space">
                <div class="col-md-2">
                    <button type="submit" name="verMiembros" value="Ver" class="btn btn-primary btn-block">Ver</button>
                </div>
            </div>
            <br>
            <br>
            {% if miembros %}
            <table id="data-table-selection" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-identifier="true" data-visible="false"></th>
                        <th data-column-id="nombre" data-identifier="true">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in miembros %}
                        <tr>
                            <td>{{m.id}}</td>
                            <td>{{m.nombre|capfirst}} {{m.primerApellido|capfirst}} {{m.segundoApellido|capfirst}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td colspan="2" class="centrarTexto">No hay miembros que puedan cumplir este paso</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-success btn-block" name="promoverPaso">Aceptar</button>
                </div>
            </div>
            {% endif %}
        </form>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}