{% extends "base.html" %}

{% block js %}
<!-- <link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script> -->
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_fechaNacimiento").datetimepicker({ 
			format: 'DD/MM/YYYY',
            maxDate: moment(),
		});
	});
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {{a}}
            <h1 class="f-700 f-20">
            <legend><h3>{{accion}} Miembro</h3></legend>
            </h1>
            {% if ok %}
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha editado el perfil correctamente</p>
                </div>
            </div>
            {% endif %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                {{form.nombre}}
                                <label for="id_nombre" class="fg-label requerido">Nombre:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-o"></i>
                            </span>
                            <div class="fg-line requerido">
                                {{form.primerApellido}}
                                <label for="id_primerApellido" class="fg-label requerido">Primer Apellido:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-o"></i>
                            </span>
                            <div class="fg-line">
                                {{form.segundoApellido}}
                                <label for="id_segundoApellido" class="fg-label">Segundo Apellido:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-male-female"></i>
                            </span>
                            <div class="fg-line requerido">
                                <select id="id_genero" name="genero" class="form-control">
                                    <option selected="selected" value=""></option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                                <label for="id_genero" class="fg-label requerido">Género:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-phone"></i>
                            </span>
                            <div class="fg-line">
                                {{form.telefono}}
                                <label for="id_telefono" class="fg-label">Teléfono:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-smartphone-android"></i>
                            </span>
                            <div class="fg-line">
                                {{form.celular}}
                                <label for="id_celular" class="fg-label">Celular:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-calendar"></i>
                            </span>
                            <div class="fg-line">
                                {{form.fechaNacimiento}}
                                <label for="id_fechaNacimiento" class="fg-label">Fecha Nacimiento:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                {{form.cedula}}
                                <label for="id_cedula" class="fg-label requerido">Cédula</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-map"></i>
                            </span>
                            <div class="fg-line">
                                {{form.direccion}}
                                <label for="id_direccion" class="fg-label">Dirección:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-pin-drop"></i>
                            </span>
                            <div class="fg-line">
                                {{form.barrio}}
                                <label for="id_barrio" class="fg-label">Barrio:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-local-post-office"></i>
                            </span>
                            <div class="fg-line requerido">
                                {{form.email}}
                                <label for="id_email" class="fg-label requerido">E-mail:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-male"></i>
                            </span>
                            <div class="fg-line">
                                {{form.profesion}}
                                <label for="id_profesion" class="fg-label">Profesión</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-local-wc"></i>
                            </span>
                            <div class="fg-line">
                                <select id="id_estadoCivil" name="estadoCivil" class="form-control">
                                    <option selected="selected" value=""></option>
                                    <option value="C">Casado</option>
                                    <option value="S">Soltero</option>
                                    <option value="V">Viudo</option>
                                    <option value="D">Divorciado</option>
                                </select>
                                <label for="id_estadoCivil" class="fg-label">Estado Civil</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="col-md-4 col-md-offset-2">
					<p><a href="/miembro/cambiar_contrasena/">Cambiar Contrase&ntilde;a</a></p>
				</div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3 col-md-offset-5">
                        <button type="submit" value="Guardar Cambios" class="btn btn-primary btn-block">Guardar Cambios</button>
                    </div>
                </div>
			</div>
        </form>
    </div>
</div>
{% endblock %}

