{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend>
                    <h3>{% trans 'Lista Líderes de la red' %} {{ red.nombre|upper }}</h3>
                </legend>
            </h1>
        </div>
        <div class="card-padding card-body table-responsive">
            <table id="data-table-command" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-visible="false" data-identifier="true"></th>
                        <th data-column-id="nombre">{% trans 'Nombre' %}</th>
                        <th data-column-id="dia">{% trans 'Cedula' %}</th>
                        <th data-column-id="hora">{% trans 'Correo' %}</th>
                        <th data-column-id="direccion">{% trans 'Télefono' %}</th>
                        <th data-column-id="celulas" data-type="numeric"># {% trans 'Grupos a su cargo' %}</th>
                        <th data-column-id="red">{% trans 'Ultimo Acceso' %}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">{% trans 'Comandos' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lider in lideres %}
                    <tr>
                    	<td>{{ lider.id }}</td>
                        <td>{{ lider.nombre|upper }} {{ lider.primerApellido|upper }}{% if lider.segundoApellido %} {{ lider.segundoApellido|upper }}{% endif %}</td>
                        <td>{{ lider.cedula }}</td>
                        <td>{% if lider.email %}{{ lider.email }}{% endif %}</td>
                        <td>{% if lider.telefono %}{{ lider.telefono }}{% elif lider.celular %}{{ lider.celular }}{% else %}{% trans 'NO HAY DATOS' %}{% endif %}</td>
                        <td>{{ lider.grupo_lidera.get_descendant_count|add:"1" }}</td>
                        <td>{% if lider.usuario and lider.usuario.last_login %}{{ lider.usuario.last_login }}{% else %}{% trans 'NO HAY DATOS' %}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        <br>
        <br>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-command").bootgrid({
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
            caseSensitive: false,
            formatters: {
                "commands": function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/miembro/perfil/" + row.id + "'\"><span class=\"zmdi zmdi-eye\"></span></button> ";
                }
            }
        });
    })
</script>
{% endblock %}
