{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-command").bootgrid({
	        		css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
	                    },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    keepSelection: true,
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/miembro/editar_escalafon/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        }
                    }
                });
        $("button[name='eliminar']").click(function(event) {
            if (!$('tr').hasClass('active')) {
                swal("Nada que Eliminar")
                event.preventDefault();
            } else {
                return true;
            }
        });
    })
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
            	<legend><h3>Escalafones</h3></legend>
                <h5><a alt="Agregar Escalafón" href="/miembro/crear_escalafon/">Agregar Escalafón</a></h5>
	        </h1>
		    {% if okElim == 1 %}
	            <div class="row">
	                <div class="alert alert-success alert-dismissible" role="alert">
	                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
	                    <p>Se han elimindado los escalafónes</p>
	                </div>
	            </div>
			{% else %}
				{% if okElim == 2%}
		            <div class="row">
		                <div class="alert alert-danger alert-dismissible" role="alert">
		                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
		                    <p>Hubo un error al eliminar los escalafónes</p>
		                </div>
		            </div>
				{% endif %}
			{% endif %}   
        </div>
        <form action="" method="POST">
        	{% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <table id="data-table-command" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-visible="false" data-column-id="id" data-identifier="true"></th>
                            <th data-column-id="rango" data-identifier="true">Rango</th>
                            <th data-column-id="celulas" data-identifier="true">Células</th>
                            <th data-column-id="descripcion" data-identifier="true">Descripción</th>
                            <th data-column-id="logro" data-identifier="true">Logro</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Comandos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for escalafon in escalafones %}
    						<tr>
    							<td class="hidden">{{escalafon.id}}</td>
                                <td>{{escalafon.rango|capfirst}}</td>
                                <td>{{escalafon.celulas|capfirst}}</td>
                                <td>{{escalafon.descripcion|capfirst}}</td>
                                <td>{{escalafon.logro|capfirst}}</td>
    						</tr>
    	                {% empty %}
    	                	<tr>
                                <td></td>
    	                    	<td colspan="2" class="centrarTexto">No existen escalafones a&uacute;n.</td>
    	                    </tr>
    					{% endfor %}
                    </tbody>
                </table>
    	        <br>
    	        <br>
    	        <div class="row">
    	            <div class="col-md-4 col-md-offset-4">
    					<button type="submit" name="eliminar" class="btn btn-danger btn-block"><i class="zmdi zmdi-delete"></i> Eliminar</button>
    				</div>
    	        </div>
            </div>    
        </form>
        <br>
        <br>
    </div>
</div>
{% endblock %}