{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },   
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    keepSelection: true,
                    formatters: {
                        "link" : function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/miembro/editar_miembro/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        },
                    }
                });

        $("#data-table-command-1").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },
                    formatters: {
                        "link" : function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/miembro/editar_miembro/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        },
                    }
                });

        $('button[name="transladar"]').attr('disabled', 'disabled')

    });
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    {{tags}}
    {% if grupo %}
    {% if miembrosGrupo or discipulos %}
    {% if miembrosGrupo %}
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Miembros de{{grupo.nombre|capfirst}}</h3></legend>
            </h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <div class="row">
                    <div class="col-md-12">
                        <table id="data-table-command" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                    <th data-column-id="nombre" data-identifier="true">Nombre</th>
                                    <th data-column-id="ver" data-formatter="link" data-sortable="false">Comandos</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for mg in miembrosGrupo %}
                                <tr>
                                    <td>{{mg.id}}</td>
                                    <td>{{mg.nombre|capfirst}} {{mg.primerApellido|capfirst}} {% if mg.segundoApellido %} {{mg.segundoApellido|capfirst}} {% endif %}</td>
                                    <!-- <td>Deidad</td>  -->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Transladar" class="btn btn-warning btn-block" name ="transladar">Transladar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% if discipulos %}
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Discípulos de {{grupo.nombre|capfirst}}</h3></legend>
            </h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <div class="row">
                    <div class="col-md-12">
                        <table id="data-table-command-1" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                    <th data-identifier="true" data-column-id="nombre1">Nombre</th>
                                    <th data-column-id="ver" data-formatter="link" data-sortable="false">Comandos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in discipulos %}
                                <tr>
                                    <td>{{d.id}}</td>
                                    <td>{{d.nombre|capfirst}} {{d.primerApellido|capfirst}} {% if d.segundoApellido %} {{d.segundoApellido|capfirst}} {% endif %}</td>
                                    <!--   <td>Deidad</td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
        {% else %}
            <p>A&uacute;n no se han integrado miembros a tu grupo de amistad</p>
        {% endif %}
        {% else %}
            <p>No tiene asignado grupo de amistad</p>
        {% endif %}
    </div>
</div>

</div>


    
{% endblock %}


