{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script src="{% static 'Scripts/funciones_bootgrid.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    keepSelection: true,
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/academia/editar_modulo/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        }
                    }
                });
        $seleccionados = [];

        bootgrid_table_solution("#data-table-command", $seleccionados, true, "button[name='registrarLlamada']", "No ha seleccionado nadie para registrar llamada");

        send_form("#form", $seleccionados);

        {% if grupo %}
        {% if not visitantes %}
        $(window).load(function() {
            swal({   
                title: "Lo Sentimos",   
                text: "No tienes llamadas pendientes",   
                type: "warning",
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Aceptar",   
                closeOnConfirm: false 
            });
        });
        {% endif %}
        {% endif %}
    })
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Llamadas Pendientes</h3></legend>
                <small>Esta es la lista de las llamadas  que tienes pendientes</small>
                </h1>
                {% if okElim == 1 %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>Se eliminaron los modulos seleccionadas.</p>
                    </div>
                </div>
                {% else %}
                {% if okElim == 2%}
                    <div class="row">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                            <p>Hubo un error al eliminar los modulos seleccionados</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% if grupo %}
        {% if visitantes %}
            <table id="data-table-command" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                        <th data-column-id="nombre" data-identifier="true">Nombre</th>                
                    </tr>
                </thead>
                <tbody>
                {% for visita in visitantes %}
                    <tr>
                        <td class="hidden">{{visita.id}}</td>
                        <td>{{visita.nombre|capfirst}} {{visita.primerApellido|capfirst}} {{visita.segundoApellido|capfirst}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            <form id="form" action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" name="registrarLlamada" class="btn btn-info btn-block"><i class="zmdi zmdi-phone"></i>  Registrar Llamada</button>
                    </div>
                </div>
            </form>
        <br>
        <br>
        {% else %}
        <div class="row">
            <div class="alert alert-warning alert-dismissible col-md-8 col-md-offset-2" role="alert">
                <p style="text-align:center; font-size:15px;">No Tienes Llamadas Pendientes</p>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="card">
            <div class="card-header">
                <p>No tiene ningun grupo de amistad asignado</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}