{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="container">
    {{tags}}
    {% if grupo %}
    {% if miembrosGrupo or discipulos %}
    {% if miembrosGrupo %}
    <div class="card">
        <div class="card-header">
            <h2 class="f-700 f-20">{{grupo.nombre|capfirst}}</h2>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Miembros</h3>
                        <table id="miembros" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                    <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('miembros');"/></div></th>
                                    <th>Nombre</th>
                                    <!--  <th>Tipo de Miembro</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            {% for mg in miembrosGrupo %}
                                <tr>
                                    <td><input type="checkbox" name="seleccionados" value="{{mg.id}}"/></td>
                                    <td>{{mg.nombre|capfirst}} {{mg.primerApellido|capfirst}} {% if mg.segundoApellido %} {{mg.segundoApellido|capfirst}} {% endif %}</td>
                                    <!-- <td>Deidad</td>  -->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button type="submit" value="Editar" class="btn btn-success btn-block" name ="editar">Editar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" value="Transladar" class="btn btn-danger btn-block" name ="transladar">Transladar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% if discipulos %}
    <div class="card">
        <div class="card-header">
            <h2 class="f-700 f-20">{{grupo.nombre|capfirst}}</h2>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Discípulos</h3>
                        <table id="discipulos" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                        <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('discipulos');" /></div>
                                    </th>
                                    <th>Nombre</th>
                                    <!--   <th>Tipo de Miembro</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in discipulos %}
                                <tr>
                                    <td><input type="checkbox" name="seleccionados" value="{{d.id}}"/></td>
                                    <td>{{d.nombre|capfirst}} {{d.primerApellido|capfirst}} {% if d.segundoApellido %} {{d.segundoApellido|capfirst}} {% endif %}</td>
                                    <!--   <td>Deidad</td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button type="submit" value="Editar" class="btn btn-success btn-block" name ="editar">Editar</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
        {% else %}
            <p>A&uacute;n no se han integrado miembros a tu grupo de amistad</p>
        {% endif %}
        {% else %}
            <p>No tiene asignado grupo de amistad</p>
        {% endif %}
    </div>
</div>

</div>


    
{% endblock %}


