{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">Promover visitantes</h1>
        </div>
        {% if grupo %}
        {% if visitantes %} 
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="visitantes" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                    <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('visitantes');" /></div></th>
                                    <th>Nombre</th>                        
                                </tr>
                            </thead>
                            <tbody>
                            {% for visita in visitantes %}
                                <tr>
                                    <td><input type="checkbox" name="seleccionados" value="{{visita.id}}"/></td>
                                    <td>{{visita.nombre|capfirst}} {{visita.primerApellido|capfirst}} {{visita.segundoApellido|capfirst}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                        {% else %}
                            <p>No hay visitantes en tu G.A.R para promover.</p>
                        {% endif %}
                        {% else %}
                            <p>No tienes asignado grupo de amistad.</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Promover" class="btn btn-success btn-block">Promover</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}  
