{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        $(".data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    keepSelection: true,
                    formatters: {
                        "link" : function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/academia/estudiante_detalle/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        },
                    }
                });
        $("button[name='Eliminar']").click(function(event) {
            if (!$('tr').hasClass('active')) {
                swal("Nada que Eliminar")
                event.preventDefault();
            } else {
                return true;
            }
        });
    });

    {% if ninguna %}
    $(window).load(function() {
        swal({   
            title: "Lo Sentimos",   
            text: "No hay llamadas pendientes",   
            type: "warning",
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Aceptar",   
            closeOnConfirm: false 
        });
    });
    {% endif %}

</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Llamadas Pendientes</h3></legend>
            </h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Primera llamada</h2>
                        <table class="data-table-command" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                    <th data-column-id="nombre1" data-identifier="true">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mp in miembrosPrimera %}
                                    <tr>
                                        <td>{{mp.id}}</td>
                                        <td>{{mp.nombre|capfirst}} {{mp.primerApellido|capfirst}} {{mp.segundoApellido|capfirst}}</td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="2" class="centrarTexto">No hay primeras llamadas pendientes</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Registrar Primera Llamada" class="btn btn-success btn-block" name ="primeraLlamada">Registrar Primera Llamada</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend><h3>Llamadas Pendientes</h3></legend>
            </h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Segunda llamada</h2>
                        <table class="data-table-command" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                    <th data-column-id="nombre">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ms in miembrosSegunda %}
                                    <tr>
                                        <td>{{ms.id}}</td>
                                        <td>{{ms.nombre|capfirst}} {{ms.primerApellido|capfirst}} {{ms.segundoApellido|capfirst}}</td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="2" class="centrarTexto">No hay segundas llamadas pendientes</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Registrar Segunda Llamada" class="btn btn-success btn-block" name ="segundaLlamada">Registrar Segunda Llamada</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}  


