{% extends "base.html" %}

{% block contenido %}

<div class="container">
<div class="block-header">
        {% if perms.miembros.es_administrador %}
        <h2 style="font-size:20px !important; margin-bottom:-20px;">{{miembro.nombre|upper}} {{miembro.primerApellido|upper}} <small>({{miembro.cedula}})</small></h2>
	        <ul class="actions m-t-20 hidden-xs">
	            <li class="dropdown">
	                <a href="" data-toggle="dropdown">
	                    <i class="zmdi zmdi-more-vert"></i>
	                </a>
	    
	                <ul class="dropdown-menu dropdown-menu-right">
	                    <li>
	                        <a href="/miembro/editar_miembro/{{miembro.id}}/">Editar Miembro</a>
	                    </li>
	                    {% if not miembro.asisteGAR and not miembro.grupo %}
	                    <li>
	                        <a href="/miembro/asignar_grupo/{{miembro.id}}/">Asignar a Grupo</a>
	                    </li>
	                    {% endif %}
	                    {% if not miembro.usuario %} {# and not miembro.grupo %} #}
	                    <li>
	                        <a href="/miembro/asignar_usuario/{{miembro.id}}/">Asignar Usuario</a>
	                    </li>
	                    {% endif %}
	                    {% if not tipos %}
	                    <li>
	                        <a href="/miembro/cambiar_tipo_miembro/{{miembro.id}}/">Agregar Tipo de Miembro</a>
	                    </li>
	                    {% endif %}
	                </ul>
	            </li>
	        </ul>
        {% endif %}
    </div>
    {% if tipos %}
    <div class="card">
        <div class="card-header">
            <h1 class="f-700">
            	<legend style="margin-bottom: 0px !important">
            		<h3>Tipo de Miembro</h3>
            	</legend>
            	{% if perms.miembros.es_administrador %}
        		<small>
					<a alt="Agregar Cambio de tipo" href="/miembro/cambiar_tipo_miembro/{{miembro.id}}">Agregar Tipo de Miembro</a>
				</small>
				{% endif %}
            </h1>
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="fg-line">
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi "></i>
				            	</span>
				                <h5><h5>
				                {% for cambio in tipos %}
				                {% if cambio.nuevoTipo.nombre|lower != 'visita' %}
				                <a href="" alt="Eliminar Cambio de Tipo" href="/miembro/eliminar_cambio_tipo/{{cambio.id}}"></a>
				                {% endif %}
				                <ul class="clist clist-check">
				                	<li>{{cambio.nuevoTipo|upper}}{% if perms.miembros.es_administrador %} <a href="/miembro/eliminar_cambio_tipo/{{cambio.id}}" alt="Eliminar Cambio de Tipo"><span class="input-group-addon">
                            		<i class="zmdi zmdi-delete c-red"></i>
                            	</span></a></li>{% endif %}
				                </ul>
				                {% endfor %}
				            </div>
				        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    <div class="card">
        <div class="card-header">
            <h1 class="f-700">
            	<legend>
            		<h3>Informaci&oacute;n General</h3>
				</legend>
            </h1>			
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
        <div class="card-body card-padding">
			{% if perms.miembros.es_administrador %}
				<div class="row">
				</div>
			{% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="fg-line">
                    	<div class="col-md-4">
                        	<div class="input-group">
                            	<span class="input-group-addon">
                            		<i class="zmdi zmdi-account" style="color:#607D8B;"></i>
                            	</span>
	                            <h5>Nombre completo:</h5>

	                            <p> {{miembro.nombre|capfirst}} {{miembro.primerApellido|capfirst}} {{miembro.segundoApellido|capfirst}}</p>
	                        </div>
                        </div>
						
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-card c-brown"></i>
                            	</span>
	                            <h5>C&eacute;dula:</h5>
	                            <p>{{miembro.cedula}}</p>
	                        </div>
                        </div>
						
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-calendar c-green"></i>
                            	</span>
	                            <h5>Fecha de Nacimiento:</h5>
	                            <p>{{miembro.fechaNacimiento}}</p>
	                        </div>
                        </div>
						
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi {% if miembro.genero == 'F' %}zmdi-female c-pink{% else %} zmdi-male c-blue{% endif %}"></i>
                            	</span>
	                            <h5>G&eacute;nero:</h5>
	                            <p>{% if miembro.genero == 'F' %}Femenino{% else %}Masculino{% endif %}</p>
	                        </div>
	                    </div>

						{% if miembro.profesion %}
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-account c-teal"></i>
                            	</span>
	                            <h5>Profesi&oacute;n:</h5>
	                            <p>{{miembro.profesion}}</p>
	                        </div>
	                    </div>
						{% endif %}

						{% if miembro.estadoCivil %}
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-local-wc"></i>
                            	</span>
	                            <h5>Estado Civil:</h5>
	                            <p>{% if miembro.estadoCivil == 'C' %}Casado{% if miembro.conyugue %} con <a href="/miembro/perfil/{{miembro.conyugue.id}}">{{miembro.conyugue.nombre|capfirst}} {{miembro.conyugue.primerApellido|capfirst}}</a>{% endif %} {% else %}{{miembro.get_estadoCivil_display}}{% endif%}</p>
	                        </div>
	                    </div>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h1 class="f-700"><legend><h3>Informaci&oacute;n de Contacto</h3></legend></h1>
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="fg-line">
	                    <div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-email c-orange"></i>
                            	</span>
	                            <h5>E-mail:</h5>
	                            <p>{{miembro.email}}</p>
	                        </div>
	                    </div>

						{% if miembro.telefono %}
	                    <div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-phone c-teal"></i>
                            	</span>
	                            <h5>Tel&eacute;fono:</h5>
	                            <p>{{miembro.telefono}}</p>
	                        </div>
	                    </div>
						{% endif %}

						{% if miembro.celular %}
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-smartphone-android c-yellow"></i>
                            	</span>
	                            <h5>Celular:</h5>
	                            <p>{{miembro.celular}}</p>
	                        </div>
	                    </div>
						{% endif %}

						{% if miembro.direccion %}
						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-map c-lime"></i>
                            	</span>
	                            <h5>Direcci&oacute;n:</h5>
	                            <p>{{miembro.direccion}}</p>
	                        </div>
	                    </div>
						{% endif %}

						<div class="col-md-4">
	                        <div class="input-group">
	                        	<span class="input-group-addon">
                            		<i class="zmdi zmdi-pin c-red"></i>
                            	</span>
	                            <h5>Barrio:</h5>
	                            <p>{{miembro.barrio}}</p>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="f-700">
            <legend><h3>Informaci&oacute;n General de la Iglesia</h3></legend>
            </h1>
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fg-line">
		                    <div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-refresh c-gray"></i>
	                            	</span>
		                            <h5>Estado del miembro:</h5>
		                            <p>{{miembro.get_estado_display}}</p>
		                        </div>
		                    </div>
							{% if miembro.convertido %}
							<div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-check"></i>
	                            	</span>
		                            <h5>El miembro</h5>
		                            <p>Est&aacute; convertido</p>
		                        </div>
		                    </div>
							{% endif %}
						
							{% if escalafon %}
							<div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-layers"></i>
	                            	</span>
		                            <h5>Escalaf&oacute;n:</h5>
		                            <p>{{escalafon}}</p>
		                        </div>
		                    </div>
							{% endif %}
						
							{% if grupoLidera %}
							<div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-male"></i>
	                            	</span>
		                            <h5>Grupo que lidera:</h5>
		                            <p>{{grupoLidera}}</p>
		                        </div>
		                    </div>
							{% endif %}
						
							{% if miembro.grupo %}
							<div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-account-list"></i>
	                            	</span>
		                            <h5>Grupo al que pertenece:</h5>
		                            <p>{{miembro.grupo}}</p>
		                        </div>
		                    </div>
							{% endif %}
						
							{% if miembro.lider %}
							<div class="col-md-4">
		                        <div class="input-group">
		                        	<span class="input-group-addon">
	                            		<i class="zmdi zmdi-accounts-alt"></i>
	                            	</span>
		                            <h5>L&iacute;der del miembro:</h5>
		                            <p>{{miembro.lider.nombre|capfirst}} {{miembro.lider.primerApellido|capfirst}}</p>
		                        </div>
		                    </div>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="card">
        <div class="card-header">
            <h1 class="f-700"><legend><h3>Informaci&oacute;n de consolidaci&oacute;n de G.A.R</h3></legend></h1>
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="fg-line">
						{% if miembro.fechaAsignacionGAR %}
				        <div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-calendar-note"></i>
				            	</span>
				                <h5>Fecha de asignaci&oacute;n a G.A.R:</h5>
				                <p>{{miembro.fechaAsignacionGAR}}</p>
				            </div>
				        </div>
						{% endif %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-check-all c-blue"></i>
				            	</span>
				                <h5>Asistencia a G.A.R:</h5>
				                {% if miembro.asisteGAR %}
				                <p>El miembro asiste a G.A.R</p>
				                {% else %}
				                	{%if miembro.noInteresadoGAR %}
				                	<p>El miembro no est&aacute; interesado en G.A.R</p>
				                	{% else %}
				                	<p>No se tienen datos</p>
				                	{% endif %}
				                {% endif %}
				            </div>
				        </div>

						{% if not miembro.asisteGAR and not miembro.noInteresadoGAR %}
							{% if miembro.fechaPrimeraLlamada %}
					        <div class="col-md-4">
					            <div class="input-group">
					            	<span class="input-group-addon">
					            		<i class="zmdi zmdi-phone-forwarded c-green"></i>
					            	</span>
					                <h5>Primera Llamada:</h5>
					                <p>{{miembro.fechaPrimeraLlamada}}</p>
					            </div>
					        </div>
				            {% endif %}
				        {% endif %}

				        {% if miembro.detallePrimeraLlamada %}
				        <div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-phone-in-talk c-orange"></i>
				            	</span>
				                <h5>Detalle de la primera llamada:</h5>
				                <p>{{miembro.detallePrimeraLlamada}}</p>
				            </div>
				        </div>
				        {% endif %}
								
						{% if miembro.observacionPrimeraLlamada %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-comment-alt-text c-gray"></i>
				            	</span>
				                <h5>Observaci&oacute;n de la primera llamada:</h5>
				                <p>{{miembro.observacionPrimeraLlamada}}</p>
				            </div>
				        </div>
						{% endif %}

						{% if miembro.fechaSegundaLlamada %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-phone-forwarded c-green"></i>
				            	</span>
				                <h5>Segunda Llamada:</h5>
				                <p>{{miembro.fechaSegundaLlamada}}</p>
				            </div>
				        </div>
						{% endif %}

						{% if miembro.detallePrimeraLlamada %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-phone-ring c-red"></i>
				            	</span>
				                <h5>Detalle de la Segunda llamada:</h5>
				                <p>{{miembro.detalleSegundaLlamada}}</p>
				            </div>
				        </div>
						{% endif %}

						{% if miembro.observacionSegundaLlamada %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-comment-alt-text c-gray"></i>
				            	</span>
				                <h5>Observaci&oacute;n de la segunda llamada:</h5>
				                <p>{{miembro.observacionSegundaLlamada}}</p>
				            </div>
				        </div>
				        {% endif %}

						{% if miembro.fechaLlamadaLider %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-calendar-note c-orange"></i>
				            	</span>
				                <h5>Fecha de llamada del L&iacute;der:</h5>
				                <p>{{miembro.fechaLlamadaLider}}</p>
				            </div>
				        </div>
				        {% endif %}

						{% if miembro.detalleLlamadaLider %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-phone-forwarded c-green"></i>
				            	</span>
				                <h5>Detalle de la llamada del L&iacute;der:</h5>
				                <p>{{miembro.detalleLlamadaLider}}</p>
				            </div>
				        </div>
						{% endif %}

						{% if miembro.observacionLlamadaLider %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-comment-alt-text c-gray"></i>
				            	</span>
				                <h5>Observaci&oacute;n de la llamada del L&iacute;der:</h5>
				                <p>{{miembro.observacionLlamadaLider}}</p>
				            </div>
				        </div>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="f-700"><legend><h3>Pasos</h3></legend></h1>
            {% if ok %}
            	<p class="ok"></p>
            {% endif %}
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="fg-line">
                    {% if pasos %}
						<div class="col-md-4">
				            <div class="input-group">
				            	<span class="input-group-addon">
				            		<i class="zmdi zmdi-layers"></i>
				            	</span>
				                <h5>Pasos que ha completado:<h5>
				                {% for paso in pasos %}
				                <p>{{paso.paso}}</p>
				                {% endfor %}
				                {% else %}
				                <p>El miembro a&uacute;n no ha completado ning&uacute;n paso</p>
				                {% endif %}
				            </div>
				        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!-- {% block derContenido2%}
	{% if perms.grupos.puede_confirmar_ofrenda_GAR or perms.grupos.puede_confirmar_ofrenda_discipulado %}
		<div class="caja">
   			<h3>Reportar Ofrendas de {{miembro.nombre|capfirst}}</h3>
    			<ul>
	    			{% if perms.grupos.puede_confirmar_ofrenda_GAR %}
	    				<li><a href="/miembro/confirmar_ofrenda_gar/{{miembro.id}}">Confirmar Ofrenda de G.A.R</a></li>
    				{% endif %}
    				{% if perms.grupos.puede_confirmar_ofrenda_discipulado %}<li><a href="/miembro/confirmar_ofrenda_discipulado/{{miembro.id}}">Reportar Ofrenda de Reunion de Discipulado</a></li>{% endif %}
    			</ul>
   		</div>  
   	{% endif %}  			    			
{% endblock %} -->





















