{% extends "base.html" %}

{% block js %}
<script>
    jQuery(document).ready(function($) {
        $('#form').submit(function(event) {
            {% if tipo == 'lider' %}
            if ($('#id_detalleLlamadaLider').val() == '') {
                swal("Alerta!!!", "Debes escoger un detalle de llamada");
                return false;
            }
            {% else %}
                {% if tipo == 'primera' %}
                    if ($('#id_detallePrimeraLlamada').val() == '') {
                        swal("Alerta!!!", "Debes escoger un detalle de llamada");
                        return false;
                    }
                {% else %}
                    if ($('#id_detalleSegundaLlamada').val() == '') {
                        swal("Alerta!!!", "Debes escoger un detalle de llamada");
                        return false;
                    }
                {% endif %}
            {% endif %}
        });
    });
</script>
{% endblock %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1>
				<legend><h3>Registrar Llamada {{tipo|capfirst}}</h3></legend>
			</h1>
		</div>
		<div class="card-body card-padding">
			<form action="" id="form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if tipo == 'primera' %}
			<div class="row">
				<div class="col-md-12">
					<div class="">
                        <h4>Miembro ingreso:</h4>
                        <p>{{ miembroIngreso.nombre|capfirst }} {{miembroIngreso.primerApellido|capfirst}} {{miembroIngreso.segundoApellido|capfirst}} ({{ gMiembroIngreso.nombre }})</p>

					</div>
				</div>
			</div>
        	{% endif %}
			<div class="row">
				<div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-layers"></i>
                        </span>
                        <div class="fg-line requerido">
                            <label for="id_moduloActual" class="fg-label requerido">Miembro:</label>
                            <p>{{miembroLlamar.nombre|capfirst}} {{miembroLlamar.primerApellido|capfirst}} {{miembroLlamar.segundoApellido|capfirst}}</p>
                        </div>
                    </div>
                </div>
                <br class="space">
				<div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-phone"></i>
                        </span>
                        <div class="fg-line requerido">
                            <label for="id_moduloActual" class="fg-label requerido">Telefono:</label>
                            <p>{{miembroLlamar.telefono}}</p>
                        </div>
                    </div>
                </div>
                <br class="space">
				<div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-smartphone-iphone"></i>
                        </span>
                        <div class="fg-line requerido">
                            <label for="id_moduloActual" class="fg-label requerido">Celular:</label>
							<p>{{miembroLlamar.celular}}</p> 
                        </div>
                    </div>
                </div>
                <br class="space">
	            <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-comment"></i>
                        </span>
                        <div class="fg-line requerido">
                            <label for="id_detalleLlamadaLider" class="fg-label requerido">Detalle Llamada de Lider:</label>
                            {% if tipo == 'lider' %}
                                <p>{{form.detalleLlamadaLider}}</p>
                            {% else %}
                                {% if tipo == 'primera' %}
                                    <p>{{form.detallePrimeraLlamada}}</p>
                                {% else %}
                                    <p>{{form.detalleSegundaLlamada}}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br class="space-down">
            <div class="row">
				<div class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-star"></i>
                        </span>
                        <div class="fg-line requerido">
                            <label for="id_observacionLlamadaLider" class="fg-label requerido">Observacion de Llamada Lider:</label>
                            {% if tipo == 'lider' %}
							<p>{{form.observacionLlamadaLider}}</p>
                            {% else %}
                                {% if tipo == 'primera' %}
                                    <p>{{form.observacionPrimeraLlamada}}</p>
                                {% else %}
                                    <p>{{form.observacionSegundaLlamada}}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<button name="aceptar" class="btn btn-info btn-block" type="submit">
						Aceptar
					</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
	
	
{% endblock %}