{% extends "base.html" %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1>
				<legend><h3>Transladar a {{ miembro|upper}}</h3></legend>
			</h1>
		</div>
		<div class="card-body card-padding">
			<div class="col-md-6">
				<p>Grupo Actual: {% if miembro.grupo %}{{ miembro.grupo|upper }}{% else %}No tiene{% endif %}</p>
			</div>
			<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="">
							<label for="">Transladar a:</label>
							{{ form.grupo }}
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button name="aceptar" class="btn btn-info btn-block" type="submit">
							Transladar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}