{% extends "base.html" %}

{% block contenido %}
	
	
	</br>
	
	{{miembroEditar.nombre|capfirst}} {{miembroEditar.primerApellido|capfirst}} {{miembroEditar.segundoApellido|capfirst}}
	</br>
	<form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		<p> 
				<label for="id_menu">Transladar a:</label>			
				<select name="menu">
				{%for grupo in grupos%} 
			   		<option id="id_menu" value={{grupo.id}}> {{grupo.nombre|capfirst}}</option>
			   	{%endfor%}
			</select>
		</p>
		</br>
		</br>
		<input type="submit" value="Transladar" class="button blue smallB">
	</form>
	
{% endblock %}  
