<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Celubook: VPS</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ MEDIA_URL }}Scripts/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ MEDIA_URL }}Scripts/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ MEDIA_URL }}Scripts/css/sb-admin-2.css" rel="stylesheet">

    <link href="{{ MEDIA_URL }}Scripts/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}Scripts/css/plugins/dataTables/dataTables.tableTools.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}Scripts/css/select2.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}Scripts/css/select2-bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ MEDIA_URL }}Scripts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/miembro">Vivimos para Servir</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <a href="/miembro/editar_perfil/">{{ request.user }}</a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/miembro/editar_perfil/"><i class="fa fa-user fa-fw"></i> Perfil Usuario</a>
                        </li>
                        <li><a href="/miembro/cambiar_contrasena/"><i class="fa fa-gear fa-fw"></i> Cambiar Clave</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/salir/"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form action="/resultado/miembro/" method="POST">
                                    {% csrf_token %}
                                    <input name="buscar" type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    </span>
                                </form>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/miembro"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        {% if perms.miembros.es_administrador %}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Administraci&oacute;n<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Academia <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/academia/listar_cursos/">Listar Cursos</a>
                                        </li>
                                        <li>
                                            <a href="/academia/crear_curso/">Crear Curso</a>
                                        </li>
                                        <li>
                                            <a href="/academia/listar_modulos/">Listar M&oacute;dulos</a>
                                        </li>
                                        <li>
                                            <a href="/academia/crear_modulo/">Crear M&oacute;dulo</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/graduar_alumno/">Graduar Alumno</a>
                                        </li>
                                        <li>
                                            <a href="/academia/listar_pagos/">Listar Pagos de Academia</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                               <li>
                                    <a href="#">Miembro<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/miembro/listar_zonas/">Listar Zonas</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/crear_zona/">Crear Zona</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/listar_escalafones/">Listar Escalafones</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/crear_escalafon/">Crear Escalaf&oacute;n</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/promover_escalafon/">Promover Miembro de Escalaf&oacute;n</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/listar_tipo_miembro/">Listar Tipos de Miembro</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/crear_tipo_miembro/">Agregar Tipos de Miembro</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/listar_pasos/">Listar Pasos</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/agregar_paso/">Agregar Paso</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/detalles_llamada/">Listar Detalles de Llamada</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/agregar_detalle_llamada/">Agregar Detalle de Llamada</a>
                                        </li>
                                        {% if perms.miembros.cumplimiento_pasos %}
                                        <li>
                                            <a href="/miembro/cumplimiento_pasos/">Cumplimiento de Pasos</a>
                                        </li>                                                                      {% endif %}                               
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Grupo <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/grupo/grupo_padre/">Grupo Padre</a>
                                        </li>
                                        <li>
                                            <a href="/grupo/listar_redes/">Listar Redes</a>
                                        </li>
                                        <li>
                                            <a href="/grupo/crear_red/">Crear Red</a>
                                        </li>
                                        <li>
                                            <a href="/miembro/reportar_reunion_grupo_admin/">Reportar reunion GAR</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        <li>
                            <a href="#"><i class="fa fa-group fa-fw"></i> Mi GAR<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/miembro/reportar_reunion_grupo/">Ingresar Sobre GAR</a>
                                </li>
                                <li>
                                    <a href="/miembro/editar_grupo/">Editar mi GAR</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Informes GAR<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/reportes/estadistico_reunionesGAR/">Informe General de mi GAR</a>
                                </li>
                                <li>
                                    <a href="/reportes/reportes_reuniones_sin_enviar/">Faltante por Reportar GAR</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-child fa-fw"></i> Discipulado<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/miembro/reportar_reunion_discipulado/">Ingresar Sobre D12</a>
                                </li>
                                <li>
                                    <a href="/reportes/estadistico__totalizado_reunionesDiscipulado/">Reporte D12</a>
                                </li>
                                <li>
                                    <a href="/reportes/desarrollo_grupos/">Organigrama de mi Red</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% if perms.miembros.es_maestro %}  
                        <li>
                            <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> Academias<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/academia/cursos/">Cursos</a>
                                </li>
                                <li>
                                    <a href="/academia/asistencia/">Asistencia</a>
                                </li>
                                <li>
                                    <a href="/academia/registrar_entrega_tarea/">Entrega de tarea</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        {% if perms.miembros.es_administrador %}
                        <li>
                            <a href="#"><i class="fa fa-briefcase fa-fw"></i> Informes Generales<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Miembros y sus Pasos<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="/reportes/miembros_y_pasos/">Miembros y sus pasos</a></li>
                                        <li><a href="/reportes/pasos_totales/">Estadistico de pasos por totales</a></li>
                                        <li><a href="/reportes/pasos_rango_fechas/">Estadistico de pasos por un rango de fechas</a></li>
                                    </ul>     
                                </li>
                                <li>
                                    <a href="#">Asistencia Reuniones<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="/reportes/asistencia_reuniones/">Asistencia a reuniones</a></li>
                                        <li><a href="/reportes/estadistico_reunionesDiscipulado/">Estadistico de reuniones Discipulado</a></li>
                                        <li><a href="/reportes/estadistico__totalizado_reunionesGAR/">Estadistico totalizado de reuniones GAR</a></li>
                                    </ul>      
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        {% if perms.miembros.es_agente or perms.miembros.es_administrador %}
                            <li>
                                <a href="#"><i class="fa fa-phone-square fa-fw"></i> Consolidaci&oacute;n<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/miembro/agregar_miembro/">Agregar Visitas y Miembros<span class="fa arrow"></span></a>   
                                    </li>                                    
                                    <li>
                                        <a href="#">Asignacion y Llamadas<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="/reportes/asignacion_gar/">Control de asignaci&oacute;n a GAR</a></li>
                                            <li><a href="/reportes/primera_llamada/">1ra llamada</a></li>
                                            <li><a href="/reportes/segunda_llamada/">2da llamada</a></li>
                                        </ul>     
                                    </li>
                                    <li>
                                        <a href="#">Visitas Asignadas<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="/reportes/visitas_por_red/">Visitas asignadas por redes</a></li>
                                            <li><a href="/reportes/visitas_por_mes/">Visitas registradas por mes</a></li>
                                            <li><a href="/reportes/visitas_red_por_mes/">Visitas asignadas a una red por mes</a></li>
                                        </ul>     
                                    </li>
                                </ul>        
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block contenido %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ MEDIA_URL }}Scripts/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ MEDIA_URL }}Scripts/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ MEDIA_URL }}Scripts/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{{ MEDIA_URL }}Scripts/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ MEDIA_URL }}Scripts/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{{ MEDIA_URL }}Scripts/js/plugins/dataTables/dataTables.tableTools.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ MEDIA_URL }}Scripts/js/sb-admin-2.js"></script>
    <script src="{{ MEDIA_URL }}Scripts/js/select2-3.5.1/select2.js"></script>
    <script>
    $(document).ready(function() {
        $('#gruposSinReportes').dataTable( {
            "iDisplayLength": 25,
            "dom": 'T<"clear">lfrtip',
            "tableTools":{
                "sSwfPath": "{{ MEDIA_URL }}Scripts/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            },
        } );
        $('select').select2();       
    });
    </script>    
    {% block js %}
    {% endblock %}
</body>

</html>
