{% extends "base.html" %}

{% block contenido %}

    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Editar Datos de mi Grupo de Amistad</h1>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-pencil"></i> 
                    Escribe aqui la información de tu Grupo
                </div>
                <div class="panel-body">
                    <form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-lg-4"><p class="requerido">
                            <label for="id_direccion">{{ form.direccion.label }}:</label>
                            {{ form.direccion }}</p></div>
                        </div> 
                        <br>
                        <fieldset class="mediano">
                            <legend><h3>Reunion Grupo de Amistad</h3></legend>
                            {{ form.diaGAR.errors }}
                            <div class="row">
                                <div class="col-lg-4"><p class="requerido">
                                    <label for="id_diaGAR">{{ form.diaGAR.label }}:</label>
                                    {{ form.diaGAR }}
                                </p></div>
                            </div>    
                            {{ form.horaGAR.errors }}
                            <div class="row">
                                <div class="col-lg-4"><p class="requerido">
                                    <label for="id_horaGAR">{{ form.horaGAR.label }}:</label>
                                    {{ form.horaGAR }}
                                </p></div>
                            </div>      
                        </fieldset>  
                        <!--{{ form.as_p }}-->
                        <br>
                    <input class="btn btn-primary" type="submit" value="aceptar" name="aceptar">
                    </form> 
                </div>
            </div>
        </div>
    </div>                
{% endblock %}  
