{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
	{{mensaje}}
    
    {% if sw %}
        <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}	
            <h3>Confirmar Ofrenda Grupo de Amistad</h3>
            <br />
                <table id="ofrendasPendientesGAR" class="simple" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                        <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('ofrendasPendientesGAR');" /></div></th>
                        <th>Grupo</th>
                        <th>Fecha Reunion</th>
                        <th>Monto Ofrenda</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reunion in ofrendasPendientesGar %}
                        <tr>
                            <td><input type="checkbox" name="seleccionados" value="{{reunion.id}}"/></td>
                            <td>{{reunion.grupo.nombre|capfirst}}</td>
                            <td>{{reunion.fecha}}</td>
                            <td>{{reunion.ofrenda}}</td>
                            
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="centrarTexto">No tiene reuniones a confirmar.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             
            <br/>
            <input class="button blue smallB" type="submit" value="Verificar"> 
        </form>
	{% endif %}
{% endblock %}