{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_fecha").datepicker();
	});
</script>
{% endblock %}

{% block contenido %}
	
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reporte Reunion: Grupo de Amistad</h1>
        </div>
    </div>
	
    {% if ok %}
		<p class="ok">Se ha registrado el reporte correctamente.</p>
	{% endif %}
    {% if ya_reportada %}
        <p class="error">Ya ha sido reportada una reunion en esta semana.</p>
    {% endif %}
    {% if grupo %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-pencil"></i> 
                    Digita aqui los datos de tu Grupo
                </div>
                <div class="panel-body">
                    <form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4"><p><label for="id_fecha">Fecha en que se realiz&oacute; el grupo:</label> {{form.fecha}}</p></div>
                            <div class="col-lg-6"><p><label for="id_predica">Nombre de la Pr&eacute;dica:</label> {{form.predica}}</p></div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-3"><p><label for="id_ofrenda">Ofrenda GAR</label> {{form.ofrenda}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><br><p><label>¿Cu&aacute;l fue la asistencia total de tu grupo incluyendo visitas y l&iacute;deres?:</label></p></div>
                            <div class="col-lg-1"><p><label for="id_numeroLideresAsistentes"></label> {{form.numeroLideresAsistentes}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><br><p><label>¿Cu&aacute;ntos de ese total de asistentes eran visitas?:</label></p></div>
                            <div class="col-lg-1"><p><label for="id_numeroVisitas"></label> {{form.numeroVisitas}}</p></div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-6"><br><p><label>¿Cu&aacute;ntos de ese total de asistentes eran los l&iacute;deres del grupo?:</label></p></div>
                            <div class="col-lg-1"><p><label for="id_numeroLideresAsistentes"></label> {{form.numeroLideresAsistentes}}</p></div>
                        </div>
                        <!-- /.nav-third-level 
                        <table id="miembros" class="simple alinearForm" cellspacing="0">
                            <caption><span class="bold">Asistencia</span></caption>
                            <thead>
                            <tr>
                                <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('miembros');"/></div></th>
                                <th>Nombre</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mg in miembrosGrupo %}
                                <tr>
                                    <td><input type="checkbox" name="seleccionados" value="{{mg.id}}"/></td>
                                    <td>{{mg.nombre|capfirst}} {{mg.primerApellido|capfirst}}  {% if mg.segundoApellido %} {{mg.segundoApellido|capfirst}} {% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>  -->
                        <br/>
                    <input class="button blue smallB" type="submit" value="aceptar" name="aceptar">
                    </form>
                </div>    
            </div>        
        </div>    	
	{% else %}
    	<p>No tiene ningun grupo de amistad asignado</p>
    {% endif %}
{% endblock %}  
