{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<h2>Zonas</h2>
	
    {% if okElim == 1 %}
		<p class="ok">Se eliminaron las zonas seleccionadas.</p>
	{% else %}
		{% if okElim == 2%}
			<p class="error">Hubo un error al eliminar zonas.</p>
		{% endif %}
	{% endif %}
    
	{% if zonas %}
		<p>Haga click en una zona para ver los barrios de &eacute;sta.</p>
		<form action="" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<a alt="Agregar Zona" href="/miembro/crear_zona/">Agregar Zona <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
			<br/>
			<table id="zonas" class="simple" cellspacing="0">
				<thead>
		       	<tr>
		       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('zonas');" /></div></th>
		            <th>Nombre</th>
		            
		       	</tr>
		    	</thead>
		    	<tbody>
				{% for zona in zonas %}
					<tr>
						<td><input type="checkbox" name="seleccionados" value="{{zona.id}}"/></td>
						<td><a alt="Ver Barrios" href="/miembro/barrios/{{zona.id}}/">{{zona.nombre|capfirst}}</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<br/>
			<input class="button blue smallB" type="submit" value="Editar" name="editar">
			<input class="button blue smallB" type="submit" value="Eliminar" name="eliminar">
		</form>
		<br />
	{% else %}
		<p>No existen zonas a&uacute;n. Haga <a alt="Agregar Zona" href="/miembro/crear_zona/">click aqu&iacute;</a> para agregar una.</p>
	{% endif %}
{% endblock %}  