{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<h2>Promover visitantes</h2>
	
    {% if grupo %}
        {% if visitantes %}		
            <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <table id="visitantes" class="simple" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                        <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('visitantes');" /></div></th>
                        <th>Nombre</th>                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for visita in visitantes %}
                        <tr>
                            <td><input type="checkbox" name="seleccionados" value="{{visita.id}}"/></td>
                            <td>{{visita.nombre|capfirst}} {{visita.primerApellido|capfirst}} {{visita.segundoApellido|capfirst}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <input class="button blue smallB" type="submit" value="Promover"> 
            </form>
            <br />
        {% else %}
            <p>No hay visitantes en tu G.A.R para promover.</p>
        {% endif %}
    {% else %}
		<p>No tienes asignado grupo de amistad.</p>
	{% endif %}
{% endblock %}  