{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_fechaAsignacionGAR").datepicker();
	});
</script>
{% endblock %}

{% block contenido %}
	<h2>Registrar Llamada {{tipo|capfirst}}</h2>		
	<form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		{% if tipo == 'primera' %}
            <p><label>Miembro ingreso:</label>{{ miembroIngreso.nombre|capfirst }} {{miembroIngreso.primerApellido|capfirst}} {{miembroIngreso.segundoApellido|capfirst}} ({{ gMiembroIngreso.nombre }})</p>
        {% endif %}
        <p><label>Miembro:</label>{{miembroLlamar.nombre|capfirst}} {{miembroLlamar.primerApellido|capfirst}} {{miembroLlamar.segundoApellido|capfirst}}</p>
		<p><label>Telefono:</label> {{miembroLlamar.telefono}}</p>
		<p><label>Celular:</label> {{miembroLlamar.celular}}</p> 
		{{ form.as_p }}	
	<button class="button blue smallB" type="submit" value="aceptar" name="aceptar">Aceptar</button>
	</form>	
	
{% endblock %}  

