{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    //dibujando el grafico
    {% if sw and grupoDis %}
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable({{ values|safe }});
            var options = {width: 700, height: 500, title: {{ titulo|safe }}};
            var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            chart.draw(data, options);
        }
    {% else %}
        {% if sw and not grupoDis %}
            alert('El {{ grupo_i.nombre|capfirst }} no tiene discipulos');
        {% endif %}
    {% endif %}

    $(document).ready(function(){
        var dates = $("#id_fechai, #id_fechaf").datepicker({
                                    maxDate: new Date(),
                                    beforeShowDay: function(date){
                                        var day = date.getDay();
                                        var d = this.id == "id_fechai" ? [(day == 1), ""] : [(day == 0), ""];
                                        return d;
                                    },
                                    onSelect: function(selectedDate){
                                        var option = this.id == "id_fechai" ? "minDate" : "maxDate";
                                        dates.not(this).datepicker("option", option, selectedDate);
                                    }
								});

        $("input[name='ofrenda']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='visitas'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='visitas'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='lid_asis']").click(function(){
            if($(this).is(':checked')){
                $("input[name='ofrenda'], input[name='visitas'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='ofrenda'], input[name='visitas'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='visitas']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='ofrenda'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='ofrenda'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='asis_reg']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='visitas'], input[name='ofrenda']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='visitas'], input[name='ofrenda']").removeAttr('disabled');
            }
        });

        $("#form_totalGAR").submit(function(){
            if($("#idGrupo_i").val() == -1){
                alert("Por favor seleccione un grupo inicial.");
            }
            else{
                return true;
            }
            return false;
        });
	});
</script>
{% endblock %}

{% block contenido %}

    <h2>Estadistico de reuniones GAR totalizado por discipulos</h2>
    <br />

    <form action="" id="form_totalGAR" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <label for="idGrupo_i">Grupo inicial:</label>
        <select id="idGrupo_i" name="menuGrupo_i">
            <option value="-1" {% if not grupo_i %} selected="selected" {% endif %}>Selecciona un grupo</option>
            {% for g_i in listaGrupo_i %}
                <option value="{{ g_i.id }}" {% if g_i == grupo_i %} selected="selected" {% endif %}>{{ g_i.nombre|capfirst }}</option>
            {% endfor %}
        </select>

        <br />
        <input type="checkbox" name="lid_asis" value="S" {% if lid_asis %}checked="checked"{% endif %}/>N&uacute;mero de lideres asistentes
        <input type="checkbox" name="visitas" value="S" {% if visitas %}checked="checked"{% endif %}/>N&uacute;mero de visitas
        <br />
        <input type="checkbox" name="asis_reg" value="S" {% if asis_reg %}checked="checked"{% endif %}/>N&uacute;mero asistentes regulares
        <input type="checkbox" name="ofrenda" value="S" {% if ofrenda %}checked="checked"{% endif %}/>Ofrenda
        <br />
        <input type="submit" name="verReporte" value="Ver" class="button blue smallB">
        <input type="submit" name="reportePDF" value="Generar PDF" class="button blue smallB">
    </form>
    <br /><br />

    <div id="out"></div>

{% endblock %}