{% extends "base.html" %}

{% block js %}
<!--
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
-->
<link href="{{ MEDIA_URL }}Scripts/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}Scripts/css/geova.css" rel="stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/js/jquery-ui-1.10.4.custom.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
		var dates = $("#id_fechai, #id_fechaf").datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    changeYear: true,
                                    changeMonth: true,
                                    yearRange: 'c-50:c',
{#                                    maxDate: new Date(),#}
                                    beforeShowDay: function(date){
                                        var day = date.getDay();
                                        var d = this.id == "id_fechai" ? [(day == 1), ""] : [(day == 0), ""];
                                        return d;
                                    },
                                    onSelect: function(selectedDate){
                                        var option = this.id == "id_fechai" ? "minDate" : "maxDate";
                                        dates.not(this).datepicker("option", option, selectedDate);
                                    }
								});
	});
</script>
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Grupos Faltantes por Enviar Reporte de reunion</h1>
        </div>
    </div>

    <br />
    
    <form id="form_reunion" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div id="id_fechas">
            {{ form.fechai.errors }}
            {{ form.fechaf.errors }}
            <p class="requerido">
                <div class="row">
                    <div class="col-lg-3">
                        <label>{{ form.fechai.label }}:</label>
                        {{ form.fechai }}
                        <label>{{ form.fechaf.label }}:</label>
                        {{ form.fechaf }}
                    </div>
                </div>        
            </p>
        </div>
        <input type="submit" name="verMorosos" value="Ver Grupos" class="button blue smallB">

    <br /><br />
        {% if grupos %}
        <table id="gruposSinReportes" class="table table-striped table-bordered table-hover" cellspacing="0">
            <thead>
                <tr>
                    <th width="22%">Grupo</th>
                    <th width="27%">Lideres</th>
                    <th width="21%">Fecha de reuni&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                    <tr>
                        <td>{{ grupo.nombre|capfirst }}</td>
                        <td>
                            <ul>
                            {% for lider in grupo.lideres %}
                                <li>{{ lider.nombre|capfirst }} {{ lider.primerApellido|capfirst }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                            {% for fecha in grupo.fecha_reunion %}
                                <li>{{ fecha }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="centrarTexto" colspan="4">Ning&uacute;n grupo debe reporte de reuni&oacute;n.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    <br />
        <input name="Enviar" type="submit" value="Enviar Mail" class="button blue smallB">
    </form>
{% endblock %}