{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //dibujando el grafico
        {% if sw %}
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);

            function drawChart(){
                var data = google.visualization.arrayToDataTable({{ values|safe }});
                var options = {width: 700, height: 500};
            {% if tipo == 1 %}
                var chart = new google.visualization.PieChart(document.getElementById('out'));
            {% else %}
                var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            {% endif %}
                chart.draw(data, options);
            }
        {% endif %}

        $(document).ready(function(){
            {% if tipo == 1 %}
                $("#pie_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_pie_sel.png");
                $("#column_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_column.png");
                $("#type").attr('value', '1');
            {% else %}
                $("#column_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_column_sel.png");
                $("#pie_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_pie.png");
                $("#type").attr('value', '2');
            {% endif %}
            $("#pie_button, #column_button").click(function(){
                if(this.id == "pie_button")
                {   $("#type").attr('value', '1');
                    $("#form_visitasMes").submit();
                }
                else
                {   $("#type").attr('value', '2');
                    $("#form_visitasMes").submit();
                }

            });
        });
    </script>
{% endblock %}

{% block contenido %}

    <h2>{{ titulo_pag }}</h2>
    <br />

    <form id="form_visitasMes" class="alinearForm" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="type" id="type" value="1">
        <input type="submit" name="verReporte" value="Ver Reporte" class="button blue smallB">
        <input type="submit" name="reportePDF" value="Generar PDF" class="button blue smallB">
    </form>

    {% if sw %}
        <input type="image" src="{{ MEDIA_URL }}Imagenes/chart_pie_sel.png" value="pie" name="pie_button" id="pie_button">
        <input type="image" src="{{ MEDIA_URL }}Imagenes/chart_column.png" value="column" name="column_button" id="column_button">
        <div id="out"></div>
    {% endif %}

{% endblock %}