{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    //dibujando el grafico
    {% if sw and grupoDis %}
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable({{ values|safe }});
            var options = {width: 700, height: 500, title: {{ titulo|safe }}};
            var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            chart.draw(data, options);
        }
    {% else %}
        {% if sw and not grupoDis %}
            alert('El {{ grupo_i.nombre|capfirst }} no tiene discipulos');
        {% endif %}
    {% endif %}

    $(document).ready(function(){
        $('#id_fechai').datetimepicker({
            format: 'DD/MM/YYYY',
            daysOfWeekDisabled: [0,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#id_fechaf').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YY',
            daysOfWeekDisabled: [1,2,3,4,5,6],
            maxDate: moment(),
        });


        $('#id_fechai').on("dp.change",function(e){
            console.log(e);
            $('#id_fechaf').data("DateTimePicker").minDate(e.date);
        });

        $('#id_fechaf').on("dp.change",function(e){
            $('#id_fechai').data("DateTimePicker").maxDate(e.date);
        });

        $("input[name='ofrenda']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='visitas'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='visitas'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='lid_asis']").click(function(){
            if($(this).is(':checked')){
                $("input[name='ofrenda'], input[name='visitas'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='ofrenda'], input[name='visitas'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='visitas']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='ofrenda'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='ofrenda'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='asis_reg']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='visitas'], input[name='ofrenda']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='visitas'], input[name='ofrenda']").removeAttr('disabled');
            }
        });

        $("#form_totalGAR").submit(function(){
            if($("#idGrupo_i").val() == -1){
                alert("Por favor seleccione un grupo inicial.");
            }
            else{
                return true;
            }
            return false;
        });
	});
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">Estadistico de reuniones GAR totalizado por discipulos</h3>
                </legend>
            </h1>
            {% if messages %}
                <div class="row">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>{{message}}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <form action="" method="POST" id="form_totalGAR">
            {% csrf_token %}
            <div class="card-body card-padding">
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group form-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechai" class="fg-label requerido">Fecha Inicial:</label>
                                {{form.fechai}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group form-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechaf" class="fg-label requerido">Fecha Final:</label>
                                {{form.fechaf}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_i" class="fg-label requerido">Grupo Inicial:</label>
                                <select class="selectpicker" name="menuGrupo_i" id="idGrupo_i" data-live-search="true">
                                    <option value="-1" {% if not grupo_i %} selected="selected" {% endif %}>Selecciona un grupo</option>
                                    {% for g_i in listaGrupo_i %}
                                        <option value="{{ g_i.id }}" {% if g_i == grupo_i %} selected="selected" {% endif %}>{{ g_i.nombre|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" id="idCheck" name="lid_asis" value="S" {% if lid_asis %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    N&uacute;mero de L&iacute;deres Asistentes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" name="asis_reg" value="S" {% if asis_reg %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    N&uacute;mero de Asistentes Regulares
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" name="ofrenda" value="S" {% if ofrenda %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    Ofrenda
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                <input type="checkbox" name="visitas" value="S" {% if visitas %}checked="checked"{% endif %}/>
                                <i class="input-helper m-r-20"></i>
                                N&uacute;mero de visitas
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button type="submit" name ="verReporte" class="btn btn-success btn-block">Ver</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" name ="reportePDF" class="btn btn-warning btn-block waves-effect">Reportar PDF</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div id="out"></div> 
</div>  

{% endblock %}