{% extends 'base.html' %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Cumplimiento de llamadas de líderes por red</h1>
        </div>
    </div>
    <br>

    <div class="row">
    <div class="col-md-4">
    <form id="form_visitasRed" class="alinearForm" action="{% url cumplimiento_llamadas_lideres %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="type" id="type" value="1">
        <input type="submit" name="verReporte" value="Ver Reporte" class="button blue smallB">
    </form>
    </div>
    </div>

    <br>

    <table id="gruposSinReportes" class="table table-striped table-bordered table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>Grupo</th>
                <th>Lideres</th>
                <th>Personas asignadas</th>
                <th>Llamadas realizadas</th>
                <th>Llamadas no realizadas</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td>{{ grupo.nombre|capfirst }}</td>
                    <td>
                        <ul>
                        {% for lider in grupo.lideres %}
                            <li>{{ lider.nombre|capfirst }} {{ lider.primerApellido|capfirst }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ grupo.personas_asignadas }}
                    </td>
                    <td>{{ grupo.llamadas_realizadas }}</td>
                    <td>{{ grupo.llamadas_no_realizadas }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="4">No se han asignado visitas en este rango de fechas a esta red.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}