{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header bgm-blue">
            <h1>
                <h3 style="color:#fff;">Grupos Faltantes por Enviar Reporte de reunion de discipulado</h3>
            </h1>
        </div>
        <div class="card-body card-padding">
            <form action="" id="form_reunion" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-book"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_predica" class="fg-label requerido">Pr&eacute;dica:</label>
                                {{form.predica}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button name="verMorosos" class="btn btn-info btn-block" type="submit">
                            Ver Grupos
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header bgm-blue">
            <h1>
            </h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="grupos" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="22%">Grupo</th>
                                    <th width="27%">Lideres</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for grupo in grupos %}
                                    <tr>
                                        <td>{{ grupo.nombre|capfirst }}</td>
                                        <td>
                                            <ul>
                                            {% for lider in grupo.lideres %}
                                                <li>{{ lider.nombre|capfirst }} {{ lider.primerApellido|capfirst }}</li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td class="centrarTexto" colspan="4">Ning&uacute;n grupo debe reporte de reuni&oacute;n.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Editar" class="btn btn-info btn-block" name ="Enviar">Enviar Mail</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}



    <h2>Grupos Faltantes por Enviar Reporte de reunion de discipulado</h2>
    <br />
    
    <form id="form_reunion" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="verMorosos" value="Ver Grupos" class="button blue smallB">

    <br /><br />

        <table id="gruposSinReportes" class="simple" cellspacing="0">
            <thead>
                <tr>
                    <th width="22%">Grupo</th>
                    <th width="27%">Lideres</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                    <tr>
                        <td>{{ grupo.nombre|capfirst }}</td>
                        <td>
                            <ul>
                            {% for lider in grupo.lideres %}
                                <li>{{ lider.nombre|capfirst }} {{ lider.primerApellido|capfirst }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="centrarTexto" colspan="4">Ning&uacute;n grupo debe reporte de reuni&oacute;n.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br />
        <input name="Enviar" type="submit" value="Enviar Mail" class="button blue smallB">
    </form>