{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header bgm-orange">
			<h2>
				<h3 class="c-white">
					Email verificado	
				</h3>
			</h2>
		</div>
		<div class="card-padding card-body">
			En hora buena, su solicitud será atendida dentro de las siguientes 72 horas hábiles, <a href="{% url 'inicio' %}">Click Aqui</a>
		</div>
	</div>
</div>
{% endblock contenido %}

{% block js %}
<script>
	jQuery(document).ready(function($) {
		if ($('body').hasClass('sw-toggled')) {
			$('body').removeClass('sw-toggled');
		}

		setTimeout(function () {
			window.location.href = '{% url "inicio" %}'
		}, 7000);
	});
</script>
{% endblock js %}
