{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend>
                    <h3>{% if not admin %}Mis{% endif %} Cursos</h3>
                    {% if admin %}<small><a alt="Agregar Curso" href="/academia/crear_curso/">Agregar Curso</a></small>{% endif %}
                </legend>
            </h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tablaCursos" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                    <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('tablaCursos');"/></div></th>
                                    <th>Nombre</th>
                                    <th>Dia</th>
                                    <th>Hora</th>
                                    <th>Direccion</th>
                                    <th>Red</th>
                                    <th>Material</th>
                                    {% if admin %}
                                        <th>Profesor</th>
                                        <th>Estado</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in cursos %}
                                    <tr>
                                        <td><input type="checkbox" name="seleccionados" value="{{c.id}}"/></td>
                                        <td><a href="/academia/estudiantes/{{ c.id }}">{{ c.nombre }}</a></td>
                                        <td>{{ c.get_dia_display }}</td>
                                        <td>{{ c.hora }}</td>
                                        <td>{{ c.direccion }}</td>
                                        <td>{{ c.red.nombre }}</td>
                                        <td>{{ c.material }}</td>
                                        {% if admin %}
                                            <td>{{ c.profesor.nombre|capfirst }} {{ c.profesor.primerApellido|capfirst }} {{ c.profesor.segundoApellido|capfirst }}                                 </td>
                                            <td>{{ c.get_estado_display }}</td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                      {% if admin %}
                                        <td colspan="9" class="centrarTexto">No hay cursos creados en la academia.</td>
                                      {% else %}
                                        <td colspan="7" class="centrarTexto">No has sido asignado a ningun curso.</td>
                                      {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn btn-success btn-block" name ="aceptarAsistencia">Editar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}