{% extends "base.html" %}

{% block contenido %}
<h2>Resumen de la Iglesia</h2>
<p><span class="bold">Total de Grupos de Amistad:</span> {{totalGrupos}}</p>
<p><span class="bold">Total de Grupos de Amistad Activos:</span> {{totalGruposA}}</p>
<p><span class="bold">Total de Grupos de Amistad Inactivos:</span> {{totalGruposI}}</p>
<p><span class="bold">Total de L&iacute;deres:</span> {{totalLideres}}</p>
<p><span class="bold">Total de Miembros:</span> {{totalMiembros}}</p>
<p><span class="bold">Total de Miembros Activos:</span> {{totalMiembrosA}}</p>
<p><span class="bold">Total de Miembros en Restauraci&oacute;n:</span> {{totalMiembrosR}}</p>
<p><span class="bold">Total de Miembros Inactivos:</span> {{totalMiembrosI}}</p>
<p><span class="bold">Total de Maestros:</span> {{totalMaestros}}</p>
<p><span class="bold">Total de Cursos:</span> {{totalCursos}}</p>
<p><span class="bold">Total de Cursos Abiertos:</span> {{totalCursosA}}</p>
<p><span class="bold">Total de Cursos Cerrados:</span> {{totalCursosC}}</p>
{% endblock %}