{% extends "base.html" %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-header">
			<h2 class="f-700 f-20">Asignar cambio de Tipo de Miembro a {{miembroCambio.nombre|capfirst}} {{miembroCambio.primerApellido|capfirst}} </h2>
            {% if ok %}
                <p class="ok">Se ha actualizado el tipo de miembro de  {{miembroCambio.nombre|capfirst}} {{miembroCambio.primerApellido|capfirst}} correctamente. <a alt="Administrador" href="/miembro/perfil/{{miembroCambio.id}}"> Volver al perfil.</a></p>
            {% endif %} 
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding">
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="f-500 m-b-15 c-black"></p>
                        {{form.as_p}}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="submit" value="aceptar" class="btn btn-primary btn-block" name ="aceptar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}