{% extends "base.html" %}

{% block contenido %}
	<h2>{{accion}} Escalaf&oacute;n</h2>
	{% if ok %}
		<p class="ok">Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} el escalaf&oacute;n correctamente. {% if accion == 'Editar' %}Haga click en aceptar para editar el escalaf&oacute;n siguiente o{% endif %} <a alt="Listar Escalafones" href="/miembro/listar_escalafones">{% if accion == 'Crear' %}Volver{% else %}volver{% endif %} a la lista de escalafones.</a></p>
	{% endif %}	
	<form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		{{ form.as_p }}
	<p><input class="button blue smallB" type="submit" value="aceptar" name="aceptar"></p>
	</form>
{% endblock %}