{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>{{accion}} Escalaf&oacute;n</h1>
        </div>
        {% if ok %}
			<p class="ok">Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} el escalaf&oacute;n correctamente. {% if accion == 'Editar' %}Haga click en aceptar para editar el escalaf&oacute;n siguiente o{% endif %} <a alt="Listar Escalafones" href="/miembro/listar_escalafones">{% if accion == 'Crear' %}Volver{% else %}volver{% endif %} a la lista de escalafones.</a></p>
		{% endif %}	
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group fg-float input-group-lg">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <input type="number" id="id_celulas" name="celulas" class="form-control input-lg">
                                <label for="id_celulas" class="fg-label requerido">Celulas:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group fg-float input-group-lg">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <input type="text" id="id_rango" name="rango" class="form-control input-lg">
                                <label for="id_rango" class="fg-label requerido">Rango:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="card-body card-padding">
                            <p class="c-black f-500 m-b-20">Descripcion:</p>
                            <div class="form-group">
                                <div class="fg-line requerido">
                                    <textarea class="form-control" name="descripcion" id="id_descripcion" rows="5" placeholder="Descripción..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body card-padding">
                            <p class="c-black f-500 m-b-20">Logro:</p>
                            <div class="form-group">
                                <div class="fg-line requerido">
                                    <textarea class="form-control" name="logro" id="id_logro" rows="5" placeholder="Logros..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
					<div class="col-md-8 col-md-offset-5">
						<div class="input-group">
							<button type="submit" value="Aceptar" class="btn btn-primary btn-block">Aceptar</button>
						</div>
					</div>
				</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
