{% extends "base.html" %}

{% block contenido %}
	<h2>{{accion}} Barrio</h2>
	{% if ok %}
		<p class="ok">Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} el barrio correctamente. <a alt="Lista de Barrios" href="/miembro/barrios/{{zona.id}}"> Volver a la lista de barrios.</a></p>
	{% endif %}	
	<form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		{{ form.as_p }}
	<p><input class="button blue smallB" type="submit" value="aceptar" name="aceptar"></p>
	</form>
{% endblock %}