{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
	{{tags}}
	<h2>{{grupo.nombre|capfirst}}</h2>
    
    {% if grupo %}
        {% if miembrosGrupo or discipulos %}
            {% if miembrosGrupo %}
                <h3>Miembros</h3>
                <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <table id="miembros" class="simple" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                        <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('miembros');"/></div></th>
                        <th>Nombre</th>
                        <!--  <th>Tipo de Miembro</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for mg in miembrosGrupo %}
                        <tr>
                            <td><input type="checkbox" name="seleccionados" value="{{mg.id}}"/></td>
                            <td>{{mg.nombre|capfirst}} {{mg.primerApellido|capfirst}} {% if mg.segundoApellido %} {{mg.segundoApellido|capfirst}} {% endif %}</td>
                            <!-- <td>Deidad</td>  -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <input class="button blue smallB" type="submit" value="Editar" name="editar"> <input class="button blue smallB" type="submit" value="Transladar" name="transladar">
            </form>
            <br />
            {% endif %}
            {% if discipulos %}
            <h3>Disc&iacute;pulos</h3>
            <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <table id="discipulos" class="simple" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="checkboxBoton"><div class="button gray smallB checkBoton">
            <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('discipulos');" /></div></th>
                        <th>Nombre</th>
                        <!--   <th>Tipo de Miembro</th> -->
                    </tr>
                    </thead>
                    <tbody>
                        {% for d in discipulos %}
                        <tr>
                            <td><input type="checkbox" name="seleccionados" value="{{d.id}}"/></td>
                            <td>{{d.nombre|capfirst}} {{d.primerApellido|capfirst}} {% if d.segundoApellido %} {{d.segundoApellido|capfirst}} {% endif %}</td>
                            <!--   <td>Deidad</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br/>
                <input class="button blue smallB" type="submit" value="Editar" name="editar">
            </form>
            {% endif %}
        {% else %}
            <p>A&uacute;n no se han integrado miembros a tu grupo de amistad</p>
        {% endif %}
    {% else %}
    	<p>No tiene asignado grupo de amistad</p>
    {% endif %}
{% endblock %}


