{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}	
<div class="container">
    <div class="card">
        <div class="card-header">
			<h2 class="f-700 f-20">Zonas</h2>
			<small>Haga click en una zona para ver los barrios de &eacute;sta.</small>
			<a alt="Agregar Zona" href="/miembro/crear_zona/">Agregar Zona <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
			<br/>
                {% if okElim == 1 %}
	            <div class="row">
	                <div class="alert alert-success alert-dismissible" role="alert">
	                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
	                    <p>Se eliminaron las zonas seleccionadas</p>
	                </div>
	            </div>
				{% else %}
					{% if okElim == 2%}
		            <div class="row">
		                <div class="alert alert-success alert-dismissible" role="alert">
		                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
		                    <p>Hubo un error al eliminar las zonas</p>
		                </div>
		            </div>
					{% endif %}
				{% endif %}
        </div>
        {% if zonas %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
						<table id="zonas" class="table" cellspacing="0">
							<thead>
						       	<tr>
						       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
					    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('zonas');" /></div></th>
						            <th>Nombre</th>
						            
						       	</tr>
					    	</thead>
					    	<tbody>
							{% for zona in zonas %}
								<tr>
									<td><input type="checkbox" name="seleccionados" value="{{zona.id}}"/></td>
									<td><a alt="Ver Barrios" href="/miembro/barrios/{{zona.id}}/">{{zona.nombre|capfirst}}</a></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<br/>
						{% else %}
							<p>No existen zonas a&uacute;n. Haga <a alt="Agregar Zona" href="/miembro/crear_zona/">click aqu&iacute;</a> para agregar una.</p>
						{% endif %}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <input type="submit" value="Editar" class="btn btn-success btn-block" name ="editar">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-block" name ="eliminar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}  

