{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
			<h2 class="f-700 f-20">Tipos de Miembro</h2>
			<a alt="Agregar tipo" href="/miembro/crear_tipo_miembro/">Agregar tipo de miembro <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
            {% if okElim == 1 %}
				<p class="ok">Se eliminaron los tipos de miembro seleccionadas.</p>
			{% else %}
				{% if okElim == 2%}
					<p class="error">Hubo un error al eliminar tipos de miembro.</p>
				{% endif %}
			{% endif %}
        </div>
        {% if tipos %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
						<table id="tipos" class="table" cellspacing="0">
							<thead>
						       	<tr>
						       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
					    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('tipos');" /></div></th>
						            <th>nombre</th>
						            
						       	</tr>
					    	</thead>
					    	<tbody>
							{% for tipo in tipos %}
								<tr>
									<td><input type="checkbox" name="seleccionados" value="{{tipo.id}}"/></td>
									<td>{{tipo.nombre|capfirst}}</td>
									
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<br/>
						{% else %}
							<p>No existen tipos de miembro. Haga <a alt="Agregar tipo de miembro" href="/miembro/crear_tipo_miembro/">click aqu&iacute;></a> para agregar uno.</p>
						{% endif %}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <input type="submit" value="Editar" class="btn btn-success btn-block" name ="editar">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-block" name ="eliminar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}  

