{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-header">
			<h2 class="f-700 f-20">Detalles de Llamada</h2>
			<a alt="Agregar Detalle de llamada" href="/miembro/agregar_detalle_llamada/">Agregar Detalle de Llamada<img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
                {% if okElim == 1 %}
					<p class="ok">Se eliminaron los detalles de llamada</p>
				{% else %}
					{% if okElim == 2%}
						<p class="error">Hubo un error al eliminar detalles de llamada.</p>
					{% endif %}
				{% endif %}
        </div>
        {% if detallesLlamada %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
						<table id="detallesLlamada" class="table" cellspacing="0">
							<thead>
						       	<tr>
						       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
					    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('detallesLlamada');" /></div></th>
						            <th>Nombre</th>
						            <th>Descripci&oacute;n</th>
						       	</tr>
					    	</thead>
					    	<tbody>
							{% for detalle in detallesLlamada %}
								<tr>
									<td><input type="checkbox" name="seleccionados" value="{{detalle.id}}"/></td>
									<td>{{detalle.nombre|capfirst}}</td>
									<td>{{detalle.descripcion|capfirst}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<br/>
						{% else %}
							<p>No existen detalles de llamada a&uacute;n. Haga <a alt="Agregar Detalles de Llamada" href="/miembro/agregar_detalle_llamada/">click aqu&iacute;</a> para agregar uno.</p>
						{% endif %}
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <input type="submit" value="Editar" class="btn btn-success btn-block" name ="editar">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-block" name ="eliminar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

