{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="f-700">Promover Escalaf&oacute;n</h2>
            {% if ok %}
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha promovido el miembro correctamente <a alt="Listar Redes" class="alert-link" href="/miembro/listar_escalafones"> Volver a la lista de escalafones</a> <a href="/miembro/perfil/{{miembroEditar.id}}">ver perfil del miembro cambiado.</a></p>
                </div>
            </div>
            {% endif %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_miembro" class="fg-label requerido">Miembro:</label>
                            	{{form.miembro}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-arrow-right-top"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_escalafon" class="fg-label requerido">Escalaf&oacute;n:</label>
                            	{{form.escalafon}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="submit" value="aceptar" class="btn btn-primary btn-block" name ="aceptar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
	
{% endblock %}
