{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script src="{% static 'Scripts/funciones_bootgrid.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },
                    {% if estudiantes %}
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    {% endif %}
                    keepSelection: true,
                    formatters: {
                        "link" : function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/academia/estudiante_detalle/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> "
                        },
                    }
                });

        $seleccionados = [];

        // Se controla el uso y manejo de la tabla incluyendo enviada de datos al servidor
        bootgrid_table_solution("#data-table-command", $seleccionados{% if perms.miembros.es_administrador %}, $add_button_function=true, "button[name='Eliminar']", "Nada que Eliminar"{% endif %});

        $('#form').submit(function(event) {
            for (var i = 0; i < $seleccionados.length; i++) {
                x = $seleccionados[i];
                try {
                    $(this).append('<input type="hidden" name="seleccionados" value="' + x.toString() +'">');
                }

                catch(err) {
                    console.log(err);
                }
            }
        });

        {% if not perms.miembros.es_administrador %}
            $('button[name="Aceptar"]').click(function(event) {
                if ($('select[name="accion"]').val() == "") {
                    swal("Alerta!!!","Debes escoger una accion a realizar");
                    return false;
                } else {
                    if (!$('tr').hasClass('active')) {
                        if ($seleccionados.length == 0) {
                            swal("Alerta!!!", "Debes escoger por lo menos un estudiante");
                            event.preventDefault();
                        } else {
                            var $undef = [];
                            var $str = [];
                            for (var i = 0; i < $seleccionados.length; i++) {
                                if ($seleccionados[i] === undefined) {
                                    $undef.push($seleccionados[i]);
                                }
                                if (typeof $seleccionados[i] === 'string') {
                                    $str.push($seleccionados[i]);
                                }
                            }
                            if ($str.length > 0) {
                                return true;
                            } else if ($str.length == 0 && $undef.length >= 0) {
                                swal("Alerta!!!", "Debes escoger por lo menos un estudiante");
                                return false;
                            }
                        }
                    } else {
                        return true;
                    }
                }
            });
        {% endif %}
    });
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700 f-20">
                <legend>
                    <h3>Estudiantes</h3>
                </legend>
            </h1>
        </div>
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="data-table-command" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                    <th data-identifier="true" data-column-id="nombre">Nombre</th>
                                    <th data-identifier="true" data-column-id="modulo">Módulo</th>
                                    <th data-identifier="true" data-column-id="sesionesd">Sesiones dadas</th>
                                    <th data-identifier="true" data-column-id="sesionesf">Sesiones faltantes</th>
                                    {% if estudiantes %}
                                    <th data-column-id="ver" data-formatter="link" data-sortable="false">Link</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for est in estudiantes %}
                                    <tr>
                                        <td>{{est.id}}</td>
                                        <td><a href="/academia/estudiante_detalle/{{est.id}}/">{{est.estudiante.nombre|capfirst}} {{est.estudiante.primerApellido|capfirst}} {{est.estudiante.segundoApellido|capfirst}}</a></td>
                                        <td>{% if est.modulo_actual %}{{ est.modulo_actual.nombre }}</td>{% else %}No Asignado a Ningún Módulo Aún{% endif %}
                                        <td>{{ est.sesionesDadas }}</td>
                                        <td>{{ est.sesionesFaltantes }}</td>                    
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td colspan="5" style="text-align:center;">A&uacute;n no hay estudiantes matriculados en el curso.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                {% if perms.miembros.es_administrador %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn bgm-red btn-block" name="Eliminar">Eliminar</button>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">{{ curso.nombre|capfirst }}</h3>
                </legend>
            </h1>
            <h4><a href="/academia/curso_detalle/{{ curso.id }}/">Ver informaci&oacute;n del curso</a></h4>
        </div>
            <div class="card-body card-padding">
                <br>
                {# {% if not perms.miembros.es_administrador %} #}
                {% if perms.miembros.es_maestro %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="input-group form-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="accion" class="fg-label requerido">Selecciona Una Acción:</label>
                                <select class="selectpicker" data-live-search="true" name="accion" id="accion">
                                    <option selected="selected" value="">---------</option>
                                    <option value="M">Evaluar M&oacute;dulo</option>
                                    <option value="P">Promover Estudiante</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="hidden" name="curso" value="{{ curso.id }}" />
                        <button type="submit" name="Aceptar" class="btn btn-success btn-block">Aceptar</button>
                    </div>
                </div>
                {% endif %}
                {% if perms.miembros.es_administrador %}
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="fg-line requerido">
                            <a class="btn btn-info btn-block" alt="Matricular Estudiante" href="/academia/matricular/{{curso.id}}">Matricular Estudiante</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <br>
                <br>
            </div>
        </form>
    </div>
</div>
{% endblock %}
