{% extends "base.html" %}

{% block contenido %}
	<h2>{{ curso.nombre|capfirst }}</h2>
    <br />
    <table id="estudiantes" class="simple" cellspacing="0">
        <thead>
            <tr>
                <th>Modulo</th>
                <th>Sesiones</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {% for modulo in modulos %}
                <tr>
                    <td>{{ modulo.nombre|capfirst }}</td>
                    <td>
                    	<ul>
                        	{% for sesion in modulo.sesiones %}
                            	<li>{{ sesion.nombre|capfirst }}</li>
                            {% empty %}
                            	<li>No hay sesiones en el modulo</li>
                        	{% endfor %}
                    	</ul>
                    </td>
                    <td>{{ modulo.porcentaje }}%</td>                      
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" style="text-align:center;">A&uacute;n no hay modulos asignados al curso.</td>
                </tr>
            {% endfor %}
         </tbody>
    </table>

{% endblock %}