{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
	<h2>{{ curso.nombre|capfirst }}</h2>
    <a href="/academia/curso_detalle/{{ curso.id }}/">Ver informaci&oacute;n del curso</a>

    <form method="post" action="">
        {% csrf_token %}

        {% if not admin %}
            <p>
                <select name="accion" id="accion">
                    <option selected="selected" value="">---------</option>
                    <option value="M">Evaluar M&oacute;dulo</option>
                    <option value="P">Promover Estudiante</option>
                </select>
                <input type="hidden" name="curso" value="{{ curso.id }}" />
                <input type="submit" value="Aceptar" name="Aceptar" class="button blue smallB">
            </p>
        {% else %}
            <br /><br />
            <a alt="Matricular Estudiante" href="/academia/matricular/{{curso.id}}">Matricular Estudiante <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
        {% endif %}
    
        <table id="estudiantes" class="simple" cellspacing="0">
            <thead>
                <tr>
                	<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('estudiantes');"/></div></th>
                    <th>Nombre</th>
                    <th>Modulo</th>
                    <th class="centrarTexto">Sesiones dadas</th>
                    <th class="centrarTexto">Sesiones faltantes</th>                   
                </tr>
            </thead>
            <tbody>
            	{% for est in estudiantes %}
                 	<tr>
                    	<td><input type="checkbox" name="seleccionados" value="{{est.id}}"/></td>
                        <td><a href="/academia/estudiante_detalle/{{est.id}}/">{{est.estudiante.nombre|capfirst}} {{est.estudiante.primerApellido|capfirst}} {{est.estudiante.segundoApellido|capfirst}}</a></td>
                        <td>{{ est.moduloActual.nombre }}</td>
                        <td class="centrarTexto">{{ est.sesionesDadas }}</td>
                        <td class="centrarTexto">{{ est.sesionesFaltantes }}</td>                    
                    </tr>
                {% empty %}
                	<tr>
                    	<td colspan="5" style="text-align:center;">A&uacute;n no hay estudiantes matriculados en el curso.</td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>
        <br />
        {% if admin %}<input type="submit" value="Eliminar" name="Eliminar" class="button blue smallB">{% endif %}
    </form>
{% endblock %}