{% extends "base_login.html" %}
{% load i18n %}

{% block css %}
<style>
    a, a:hover {
        text-decoration: none;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
    <div class="lc-block toggled">
        <h2>{% trans "Nueva Contraseña" %}</h2>

        {% if validlink %}
            <p>{% trans "Por favor, ingresa una nueva contraseña." %}</p>
            <form action="" method="POST">
                {% csrf_token %}
                {% include "_alert_non_field_errors.html" %}

                <div class="input-group m-b-20 {{ form.new_password1.css_classes }}">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        {{ form.new_password1 }}
                    </div>
                    {{ form.new_password1.errors }}
                </div>
                <div class="input-group m-b-20 {{ form.new_password2.css_classes }}">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        {{ form.new_password2 }}
                    </div>
                    {{ form.new_password2.errors }}
                </div>

                <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            </form>
        {% else %}
            <p>
                {% trans "Este link se encuentra invalido, posiblemente porque ya ha sido usado. Por favor vuelve a solicitar un nuevo link en el boton naranja." %}
            </p>

        {% endif %}

        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green"><a href="{% url 'inicio' %}">{% trans "Volver al login" %}</a></li>
            <li data-block="#l-password" class="bgm-orange"><a href="{% url 'recuperar_contrasena2' %}">{% trans "Olvide mi contraseña" %}</a></li>
        </ul>
    </div>
{% endblock %}
