{% extends "base_login.html" %}
{% load staticfiles i18n %}

{% block css %}
<style>
    a, a:hover {
        text-decoration: none;
        color: white;
    }

    .has-error .input-group-addon {
        border-color: white;
        background-color: inherit;
    }
</style>
{% endblock %}

{% block content %}
    <div class="lc-block toggled">
        <form action="" method="POST">
            {% csrf_token %}
            {% include "_alert_non_field_errors.html" %}

            <p>{% trans "Te enviaremos un correo con un link donde podras resetear tu contraseña" %}</p>
            <div class="input-group m-b-20 {{ form.email.css_classes }}">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    {{ form.email }}
                </div>
                {{ form.email.errors }}
            </div>

            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>

        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green"><a href="{% url 'inicio' %}">{% trans "Volver al login" %}</a></li>
        </ul>
    </div>
{% endblock %}
