{% extends "base.html" %}

{% block js %}
<script type="text/javascript"  src="{{ MEDIA_URL }}Scripts/jstree1.0/jquery.jstree.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#arbol").jstree({"plugins": ["themes", "html_data"]});
    });
</script>
{% endblock %}

{% load reportes_filters %}

{% block contenido %}

	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Organigrama de mi Red</h1>
        </div>
    </div>
    <br />

    <div id="arbol"><ul>{{ arbol|unordered_list_grupos }}</ul></div>

{% endblock %}