{% extends "base.html" %}
{% load staticfiles %}
{% load reportes_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/print.css' %}">
{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!--<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot.curvedlines/curvedLines.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js' %}"></script>

<script type="text/javascript" src="{% static 'Template/jquery/js/flot-charts/curved-line-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/js/flot-charts/line-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/js/flot-charts/bar-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/js/flot-charts/dynamic-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Template/jquery/js/flot-charts/pie-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Scripts/Chart.js' %}"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#{{ form.fecha_inicial.id_for_label }}').datetimepicker({
            format: 'DD/MM/YY',
            // daysOfWeekDisabled: [0,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#{{ form.fecha_final.id_for_label }}').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YY',
            // daysOfWeekDisabled: [1,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#{{ form.fecha_inicial.id_for_label }}').on("dp.change",function(e){
            $('#{{ form.fecha_final.id_for_label }}').data("DateTimePicker").minDate(e.date);
        });

        $('#{{ form.fecha_final.id_for_label }}').on("dp.change",function(e){
            $('#{{ form.fecha_inicial.id_for_label }}').data("DateTimePicker").maxDate(e.date);
        });

        var $fechai = $('#{{ form.fecha_inicial.id_for_label }}');
        var $fechaf = $('#{{ form.fecha_final.id_for_label }}');
        var $grupoi = $('#{{ form.grupo.id_for_label }}');
        // var $grupof = $('#idGrupo_f');
        var $ofrenda = $("#{{ form.ofrenda.id_for_label }}");
        var $descendientes = $("#{{ form.descendientes.id_for_label }}");


        $('button[name="verReporte"]').click(function(event) {
            if ($fechai.val() == '') {
                swal("Alerta!!!","Asegurate de escoger una fecha inicial");
                return false;
            } else if ($fechaf.val() == '' && $fechai.val() != '') {
                swal("Alerta!!!","Asegurate de escoger una fecha final");
                return false;
            } else if ($fechai.val() != '' && $fechaf.val() != '' && $grupoi.val() == -1 | $grupoi.val() == '') {
                swal("Alerta!!!","Asegurate de escoger un grupo");
                return false;
            } else {
                return true;
            }
        });

        {% if values_porcentaje_utilidad %}
        var data_porcentaje = {{ values_porcentaje_utilidad|safe }};
        var data_asistencias = {{ values_asistencias|safe }};
        var tabla = {{ tabla|safe }};

        google.charts.load('current', {packages:["corechart", 'bar']});
        google.charts.setOnLoadCallback(drawChart);
        // asistencias
        function drawChart(){
            var data = new google.visualization.DataTable();
            for (var x = 0; x < data_asistencias[0].length; x++) {
                if (data_asistencias[0][x] == 'Fechas') {
                    data.addColumn('string', data_asistencias[0][x]);
                } else {
                    data.addColumn('number', data_asistencias[0][x]);
                    data.addColumn({type: 'string', role: 'annotation'});
                }
            }

            for (var x = 1; x < data_asistencias.length; x++) {
                data.addRow(data_asistencias[x]);
            }

            var options = {
                width: '100%', 
                height: 500, 
                title: 'Asistencia en Grupos de Amistad',
                subtitle: 'Rango de fechas',
                hAxis: {
                    title: 'Fechas'
                },
                vAxis: {
                    title: 'Numero de Personas'
                },
                legend: {
                    position: 'bottom'
                },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            chart.draw(data, options);
        }



        // Porcentaje 
        google.charts.setOnLoadCallback(drawChartPorcentaje);

        function drawChartPorcentaje(){
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Fechas');
            data.addColumn('number', 'Porcentaje');
            data.addColumn({type: 'string', role: 'annotation'});

            for (var x = 0; x < data_porcentaje[0].length; x++) {
                var arr = new Array();
                arr.splice(0, 0, data_porcentaje[0][x]);
                arr.splice(1, 0, data_porcentaje[1][x]);
                arr.splice(2, 0, data_porcentaje[1][x].toString() + '%');
                {% comment %}console.log(arr);{% endcomment %}
                data.addRow(arr);
            }

            {% comment %}for (var x = 1; x < data_asistencias.length; x++) {
                data.addRow(data_asistencias[x]);
            }{% endcomment %}

            var options = {
                width: '100%', 
                height: 500, 
                title: 'Porcentaje de Grupos Reportando',
                subtitle: 'Rango de fechas',
                hAxis: {
                    title: 'Fechas'
                },
                vAxis: {
                    title: 'Porcentaje'
                },
                legend: {
                    position: 'bottom'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('out2'));
            chart.draw(data, options);
        }


        $(window).resize(function(){
            drawChart();
        });

        $('#tw-switch').on('change', function() {
            setTimeout("drawChart()", 500);
        });

        {% endif %}
    });
</script>
{% endblock %}




{% block contenido %}
<div class="container">
    <div class="card" id="card-formulario">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">Estadistico de reuniones {% if dominioIglesia == 'gng.com' %}G.A.A{% else %}G.A.R{% endif %}</h3>
                </legend>
            </h1>
            {% if messages %}
				{% for message in messages %}
					<div class="row">
		                <div class="alert {% if message.tags == "success" %}alert-success {% elif message.tags == "error" %}alert-danger {% else %}alert-warning{% endif %} alert-dismissible" role="alert">
		                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
		                    <p>{{ message }}</p>
		                </div>
		            </div>
				{% endfor %}
			{% endif %}
        </div>
{% if miembro.grupoLidera or perms.miembros.es_administrador %}
        <form action="" method="POST" id="form_pasosTotal">
            {% csrf_token %}
            <div class="card-body card-padding">
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group form-group {{ form.fecha_inicial.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.fecha_inicial.id_for_label }}" class="fg-label requerido control-label" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Escoge una fecha de la cual partirán los estadisticos." title="" data-original-title="Ayuda">Fecha Inicial:</label>
                                {{ form.fecha_inicial }}
                            </div>
                            {% for err in form.fecha_inicial.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{ form.fecha_final.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.fecha_final.id_for_label }}" class="fg-label requerido control-label" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Escoge una fecha limite para los estadisticos." title="" data-original-title="Ayuda">Fecha Final:</label>
                                {{ form.fecha_final }}
                            </div>
                            {% for err in form.fecha_final.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group {{ form.grupo.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.grupo.id_for_label }}" class="fg-label requerido control-label" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Escoge El grupo de el cual quieres ver los estadisticos." title="" data-original-title="Ayuda">Grupo:</label>
                                {{ form.grupo }}
                            </div>
                            {% for err in form.grupo.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{ form.descendientes.css_classes }}">
                            <label for="{{ form.descendientes.id_for_label }}" class="checkbox control-label">
                                {{ form.descendientes }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.descendientes.label }}
                            </label>
                            {% for err in form.descendientes.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group {{ form.ofrenda.css_classes }}">
                            <label for="{{ form.ofrenda.id_for_label }}" class="checkbox control-label">
                                {{ form.ofrenda }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.ofrenda.label }}
                            </label>
                            {% for err in form.ofrenda.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    {% comment %}<br class="space">
                    <div class="col-md-4">
                       <div class="input-group {{ form.lideres_asistentes.css_classes }}">
                            <label for="{{ form.lideres_asistentes.id_for_label }}" class="checkbox control-label">
                                {{ form.lideres_asistentes }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.lideres_asistentes.label }}
                            </label>
                            {% for err in form.lideres_asistentes.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>{% endcomment %}
                </div>
                {% comment %}<br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group {{ form.visitas.css_classes }}">
                            <label for="{{ form.visitas.id_for_label }}" class="checkbox control-label">
                                {{ form.visitas }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.visitas.label }}
                            </label>
                            {% for err in form.visitas.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{ form.asistentes_regulares.css_classes }}">
                            <label for="{{ form.asistentes_regulares.id_for_label }}" class="checkbox control-label">
                                {{ form.asistentes_regulares }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.asistentes_regulares.label }}
                            </label>
                            {% for err in form.asistentes_regulares.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>{% endcomment %}
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button type="submit" name ="verReporte" class="btn btn-success btn-block">Ver</button>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <button type="submit" name ="reportePDF" class="btn btn-warning btn-block waves-effect">Reportar PDF</button>
                    </div>
                </div>
            </div>
        </form>
    </div>  
{% else %}
 <div class="card">
    <div class="card-header">
        <p>No tiene ningun grupo de amistad asignado</p>
    </div>
</div>
{% endif %}
    {% if grafico %}
    {% if values_asistencias %}
    <div class="card">
        <div class="card-body card-padding">    
            <div id="out" style="width: 100%;">
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    {% if values_porcentaje_utilidad %}
    <div class="card">
        <div class="card-body card-padding">
            <div id="out2" style="width: 100%;">
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    {% if tabla %}
    <div class="card">
        <div class="card-header">
            <h3>Tabla Estadisticos</h3>
        </div>
        <div class="card-body card-padding">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Rango de Fecha</th>
                            <th>Visitas</th>
                            <th>Regulares</th>
                            <th>Líderes</th>
                            <th>Total Asistentes</th>
                            <th>Grupos Reportaron</th>
                            <th>Grupos sin Reportar</th>
                            <th>Porcentaje Reportes</th>
                            <th>Total Grupos Semana</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in tabla %}
                        <tr>
                            <td>{{ dato.fecha }}</td>
                            <td>{{ dato.reuniones.numero_visitas }}</td>
                            <td>{{ dato.reuniones.asistentes_regulares }}</td>
                            <td>{{ dato.reuniones.numero_lideres_asistentes }}</td>
                            <td>{{ dato.reuniones.numero_total_asistentes }}</td>
                            <td>{{ dato.grupos_semana|sub:dato.sin_reportar }}</td>
                            <td>{{ dato.sin_reportar }}</td>
                            <td>{{ dato.porcentaje }}%</td>
                            <td>{{ dato.grupos_semana }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    {% if sin_reportar %}
    <div class="card">
        <div class="card-header">
            <h3>Tabla Faltantes Por Reporte</h3>
        </div>
        <div class="card-body card-padding">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Líderes</th>
                            <th>Discípulos De</th>
                            <th>Fecha Reunión</th>
                            <th>No. Sobres</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in sin_reportar %}
                        <tr>
                            <td>{{ grupo.lider1.nombre|upper }} {{ grupo.lider1.primerApellido|upper }} {% if grupo.lider2 %} y {{ grupo.lider2.nombre|upper }} {{ grupo.lider1.primerApellido|upper }}{% endif %}</td>
                            <td>{{ grupo.lider1.grupo.lider1.nombre|upper }} {{ grupo.lider1.grupo.lider1.primerApellido|upper }}{% if grupo.lider1.grupo.lider2 %} y {{ grupo.lider1.grupo.lider2.nombre|upper }} {{ grupo.lider1.grupo.lider2.primerApellido|upper }}{% endif %}</td>
                            <td>{{ grupo.fechas }}</td>
                            <td>{{ grupo.no_reportes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div> 
{% endblock %}