{% extends "base.html" %}
{% load staticfiles %}
{% block js %}

<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    //dibujando el grafico
    {% if sw and grupoDis %}
        google.load("visualization", "1", {packages:["corechart"],language:'es'});
        google.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable({{ values|safe }});
            var options = {legend: 'bottom', title: {{ titulo|safe }}};
            var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            chart.draw(data, options);
        }
    {% else %}
        {% if sw and not grupoDis %}
            $(window).load(function() {
                swal({   
                    title: "Lo Sentimos",   
                    text: "El grupo {{ grupo_i.nombre|capfirst }} no tiene discipulos",   
                    type: "warning",
                    confirmButtonColor: "#DD6B55",   
                    confirmButtonText: "Aceptar",   
                    closeOnConfirm: false 
                });
            });
        {% endif %}
    {% endif %}

    $(document).ready(function(){
        $(window).load(function() {
            if ($("input[name='ofrenda']").is(':checked')) {
                $("input[name='lid_asis'], input[name='asis_reg']").attr('disabled', 'disabled');
            } else if ($("input[name='lid_asis']").is(':checked')){
                $("input[name='ofrenda'], input[name='asis_reg']").attr('disabled', 'disabled');
            } else if ($("input[name='asis_reg']").is(':checked')) {
                $("input[name='lid_asis'], input[name='ofrenda']").attr('disabled', 'disabled');
            }
        });

        $("input[name='ofrenda']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='lid_asis']").click(function(){
            if($(this).is(':checked')){
                $("input[name='ofrenda'], input[name='asis_reg']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='ofrenda'], input[name='asis_reg']").removeAttr('disabled');
            }
        });

        $("input[name='asis_reg']").click(function(){
            if($(this).is(':checked')){
                $("input[name='lid_asis'], input[name='ofrenda']").attr('disabled', 'disabled');
            }
            else{
                $("input[name='lid_asis'], input[name='ofrenda']").removeAttr('disabled');
            }
        });

        $("#form_totalGAR").submit(function(){
            if($("#idGrupo_i").val() == -1){
                swal("Alerta!!!","Por favor seleccione un grupo inicial.");
            }
            else{
                return true;
            }
            return false;
        });

        var $lid_asis = $("input[name='lid_asis']"); var $asis_reg = $("input[name='asis_reg']"); var $ofrenda = $("input[name='ofrenda']");

        $("button[name='verReporte'], button[name='reportePDF']").click(function(event) {
            if ($lid_asis.is(':checked') || $asis_reg.is(':checked') || $ofrenda.is(':checked')) {
                return true;
            }
            else{
                swal("Alerta!!!","Asegurate de escoger una opcion");
                return false;
            }
        });

	});
</script>

{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">Reporte Reunion: Discipulado</h3>
                </legend>
            </h1>
            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>{{message}}</p>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <form action="" method="POST" id="form_totalGAR">
            {% csrf_token %}
            <div class="card-body card-padding">
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group form-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-book"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_predica" class="fg-label requerido">Pr&eacute;dica:</label>
                                {{form.predica}}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_i" class="fg-label requerido">Grupo Inicial:</label>
                                <select class="selectpicker" name="menuGrupo_i" id="idGrupo_i" data-live-search="true">
                                    <option value="-1" {% if not grupo_i %} selected="selected" {% endif %}>Selecciona un grupo</option>
                                    {% for g_i in listaGrupo_i %}
                                        <option value="{{ g_i.id }}" {% if g_i == grupo_i %} selected="selected" {% endif %}>{{ g_i.nombre|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" id="idCheck" name="lid_asis" value="S" {% if lid_asis %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    N&uacute;mero de L&iacute;deres Asistentes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" name="asis_reg" value="S" {% if asis_reg %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    N&uacute;mero de Asistentes Regulares
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="" class="checkbox m-r-20">
                                    <input type="checkbox" name="ofrenda" value="S" {% if ofrenda %} checked="checked" {% endif %}>
                                    <i class="input-helper m-r-20"></i>
                                    Ofrenda
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button type="submit" name ="verReporte" class="btn btn-success btn-block">Ver</button>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <button type="submit" name ="reportePDF" class="btn btn-warning btn-block waves-effect">Reportar PDF</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {% if sw %}
    <div class="card">
        <div class="card-body card-padding">
            <div id="out">
            </div> 
        </div>
    </div>
    {% endif %}
</div>   

{% endblock %}