{% extends "base.html" %}
{% load staticfiles %}
{% block js %}

<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
		$('#id_fechai').datetimepicker({
            format: 'DD/MM/YY',
            // daysOfWeekDisabled: [0,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#id_fechaf').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YY',
            // daysOfWeekDisabled: [1,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#id_fechai').keypress(function(event) {
            event.preventDefault();
            return false;
        });

        $('#id_fechai').on("dp.change",function(e){
            $('#id_fechaf').data("DateTimePicker").minDate(e.date);
        });

        $('#id_fechaf').on("dp.change",function(e){
            $('#id_fechai').data("DateTimePicker").maxDate(e.date);
        });

        $("#data-table-basic").bootgrid({
                    caseSensitive: false,
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                });

        $('#form_pasosTotal').submit(function(event) {
            if ($('#id_fechai').val() == '') {
                swal("Alerta!!!", "Asegurate de ingresar una fecha inicial")
                return false;
            } else if ($('#id_fechaf').val() == '' && $('#id_fechai').val() != '') {
                swal("Alerta!!!", "Asegurate de ingresar una fehca final")
                return false;
            } else {
                return true;
            }
        });
	});
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">Grupos Faltantes Por Enviar Reporte de Reunión</h3>
                </legend>
            </h1>
            {% if messages %}
                <div class="row">
                {% for message in messages%}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if miembro.discipulos or perms.miembros.es_administrador %}
        <form action="" method="POST" id="form_pasosTotal">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="card-body card-padding">
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechai" class="fg-label requerido" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Solo puedes escoger un Lunes." title="" data-original-title="Ayuda">Fecha Inicial:</label>
                                {{form.fechai}}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechaf" class="fg-label requerido" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Solo puedes escoger un Domingo." title="" data-original-title="Ayuda">Fecha Final:</label>
                                {{form.fechaf}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group {{ form.grupo.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_grupo" class="fg-label requerido control-label">{{ form.grupo.label }}:</label>
                                {{ form.grupo }}
                                {% for err in form.grupo.errors %}
                                <small class="help-block">{{err}}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label for="{{ form.descendientes.id_for_label }}" class="checkbox">
                                {{ form.descendientes }}
                                <i class="input-helper m-r-20"></i>
                                {{ form.descendientes.label }}
                            </label>
                            {% for err in form.descendientes.errors %}
                            <small class="help-block">{{err}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn btn-primary btn-block" name ="verMorosos">Ver Grupos</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if grupos %}
    <div class="card">
        <div class="card-header">
            <h1><legend><h3>Grupos Faltantes por Reporte: {{ form.cleaned_data.grupo.red }}</h3></legend></h1>
        </div>

        <div class="table-responsive">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <th data-column-id="Grupo">Grupo</th>
                        <th data-column-id="lideres">Líderes</th>
                        <th data-column-id="padres">Son Discipulos de</th>
                        <th data-column-id="fecha">Fecha Reunión</th>
                        <th data-column-id="sobres">No. Sobres</th>
                    </thead>
                    <tbody>
                    {% for grupo in grupos %}
                        <tr>
                            <td>{{ grupo.nombre|upper }}</td>
                            <td>
                                {% for lider in grupo.lideres.all %}
                                    {% if forloop.first %}
                                        {{ lider.nombre|upper }} {{ lider.primerApellido|upper }}
                                    {% else %}
                                    - {{ lider.nombre|upper }} {{ lider.primerApellido|upper }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ grupo.get_parent }}</td>
                            <td>
                                {% for fecha in grupo.fecha_reunion %}
                                    {% if forloop.first %}
                                        {{ fecha }}
                                    {% else %}
                                    - {{ fecha }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ grupo.fecha_reunion|length }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>Ning&uacute;n grupo debe reporte de reuni&oacute;n.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
                {% if perms.miembros.es_administrador %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <Button type="submit" class="btn btn-warning btn-block" name ="Enviar">Enviar E-mail</Button>
                    </div>
                </div>
                {% endif %}
                <br>
                <br>
            </form>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="card">
        <div class="card-header">
            <p>No tiene ningun grupo de amistad asignado</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
