{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    //dibujando el grafico
    {% if sw %}
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable({{ values|safe }});
            var options = {width: 700, height: 500};
            {% if tipo == 1 %}
                var chart = new google.visualization.PieChart(document.getElementById('out'));
            {% else %}
                var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            {% endif %}
            chart.draw(data, options);
        }
    {% endif %}
    
    $(document).ready(function(){
        $("#idGrupo_i").change(function(){
            if($(this).val() != -1){
                $.post("", {combo: 'grupo_i', id: $(this).val(), csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()}, function(data){agregarOpciones(data, 'idGrupo_f');}, "json");
            }
            else{
                $("#idGrupo_f").html('');
            }
        });

        $("#idCheck").click(function(){
            if($(this).is(':checked')){
                $("#idGrupo_f").attr('disabled', 'disabled');
            }
            else{
                $("#idGrupo_f").removeAttr('disabled');
            }
        });

        $("#form_pasosTotal").submit(function(){
            if($("#idGrupo_i").val() == -1){
                alert("Por favor seleccione un grupo inicial.");
            }
            else{
                if(!$("#idCheck").is(':checked')){
                    if($("#idGrupo_f").val() == -1){
                        alert("Por favor seleccione un grupo final o seleccione o la casilla de los descendientes.");
                    }
                    else{
                       return true;
                    }
                }
                else{
                    return true;
                }
            }
            return false;
        });

        {% if tipo == 1 %}
            $("#pie_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_pie_sel.png");
            $("#column_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_column.png");
            $("#type").attr('value', '1');
        {% else %}
            $("#column_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_column_sel.png");
            $("#pie_button").attr('src', "{{ MEDIA_URL }}Imagenes/chart_pie.png");
            $("#type").attr('value', '2');
        {% endif %}
    
        $("#pie_button, #column_button").click(function(){
            if(this.id == "pie_button")
            {   $("#type").attr('value', '1');
                $("#form_pasosTotal").submit();
            }
            else
            {   $("#type").attr('value', '2');
                $("#form_pasosTotal").submit();
            }

        });
	});
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                <h2 class="f-700 f-20">N&uacute;mero de Miembros por Pasos</h2>
                </legend>
            </h1>
        </div>
        <form action="" method="POST" id="form_pasosTotal" >
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts-alt"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_i" class="fg-label requerido">Grupo Inicial:</label>
                                <select class="selectpicker" data-live-search="true" id="idGrupo_i" name="menuGrupo_i">
                                    <option value="-1" {% if not grupo_i %} selected="selected" {% endif %}>Selecciona un grupo</option>
                                    {% for g_i in listaGrupo_i %}
                                        <option value="{{ g_i.id }}" {% if g_i == grupo_i %} selected="selected" {% endif %}>{{ g_i.nombre|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts-outline"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_f" class="fg-label requerido">Grupo Final:</label>
                                <select class="selectpicker" data-live-search="true" id="idGrupo_f" name="menuGrupo_f">
                                    {% if  grupo_f %}
                                        <option value="-1" >------</option>
                                        {% for g_f in listaGrupo_f %}
                                            <option value="{{ g_f.id }}" {% if g_f == grupo_f %} selected="selected" {% endif %} >{{ g_f.nombre|capfirst }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox">
                                <input type="checkbox" name="descendientes" id="idCheck" value="S" {% if lid_asis %}checked="checked"{% endif %}/>
                                <i class="input-helper m-r-20"></i>
                                Mostrar Todos Los Descendientes del Grupo Inicial
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <input type="hidden" name="type" id="type" value="1">
                        <button type="submit" value="Editar" class="btn btn-success btn-block" name ="verReporte">Ver</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" value="Editar" class="btn btn-warning btn-block" name ="reportePDF">Generar PDF</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}