{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    //dibujando el grafico
    {% if sw %}
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable({{ values|safe }});
            var options = {width: 700, height: 500};
            {% if tipo == 1 %}
                var chart = new google.visualization.PieChart(document.getElementById('out'));
            {% else %}
                var chart = new google.visualization.ColumnChart(document.getElementById('out'));
            {% endif %}
            chart.draw(data, options);
        }
    {% endif %}
    
    $(document).ready(function(){
        
        $('#id_fechai').datetimepicker({
            format: 'DD/MM/YY',
            daysOfWeekDisabled: [0,2,3,4,5,6],
            maxDate: moment(),
        });

        $('#id_fechaf').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YY',
            daysOfWeekDisabled: [1,2,3,4,5,6],
            maxDate: moment(),
        });


        $('#id_fechai').on("dp.change",function(e){
            $('#id_fechaf').data("DateTimePicker").minDate(e.date);
        });

        $('#id_fechaf').on("dp.change",function(e){
            $('#id_fechai').data("DateTimePicker").maxDate(e.date);
        });

        $("#idGrupo_i").change(function(){
            if($(this).val() != -1){
                $.post("", {combo: 'grupo_i', id: $(this).val(), csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()}, function(data){
                    agregarOpciones(data, 'idGrupo_f');
                    $('#idGrupo_f').selectpicker('refresh');
                }, "json");
            }
            else{
                $("#idGrupo_f").html('');
            }
        });

        {% if descendientes %}
            check = $('#idCheck');
            $(window).on('load', () => {
                check[0].checked = true;
            });
        {% endif %}

        $("#idCheck").click(function(){
            if($(this).is(':checked')){
                $("#idGrupo_f").attr('disabled', 'disabled');
            }
            else{
                $("#idGrupo_f").removeAttr('disabled');
            }
        });

        var $grupoi = $('#idGrupo_i'); var $grupof = $('#idGrupo_f'); var $fechai = $('#id_fechai'); var $fechaf = $('#id_fechaf');

        $('#form_pasosRangoFecha').submit(function(event) {
            if ($fechai.val() == '') {
                swal("Alerta!!!","Asegurate de escoger una fecha inicial");
                return false;
            } else if ($fechai.val() != '' && $fechaf.val() == '') {
                swal("Alerta!!!","Asegurate de escoger una fecha final");
                return false;
            } else if ($fechai.val() != '' && $fechaf.val() != '' && $grupoi.val() == -1) {
                swal("Alerta!!!","Asegurate de escoger un grupo inicial");
                return false;
            } else {
                if ($grupof.val() == -1 && !$('#idCheck').is(':checked')) {
                    swal("Alerta!!!","Asegurate de escoger un grupo final o mostrar todos los descendientes del grupo inicial");
                    return false;
                } else {
                    return true;
                }
            }
        });

        {% if tipo == 1 %}
            $("#pie_button").attr('src', "{% static 'Imagenes/chart_pie_sel.png' %}");
            $("#column_button").attr('src', "{% static 'Imagenes/chart_column.png' %}");
            $("#type").attr('value', '1');
        {% else %}
            $("#column_button").attr('src', "{% static 'Imagenes/chart_column_sel.png' %}");
            $("#pie_button").attr('src', "{% static 'Imagenes/chart_pie.png' %}");
            $("#type").attr('value', '2');
        {% endif %}

        $("#pie_button, #column_button").click(function(){
            if(this.id == "pie_button")
            {   $("#type").attr('value', '1');
                $("#form_pasosRangoFecha").submit();
            }
            else
            {   $("#type").attr('value', '2');
                $("#form_pasosRangoFecha").submit();
            }
        });
	});
</script>
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h2 class="f-700 f-20">N&uacute;mero de Miembros por Pasos</h2>
                </legend>
            </h1>
        </div>
        <form action="" method="POST" id="form_pasosRangoFecha" >
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechai" class="fg-label requerido" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Solo puedes escoger un Lunes." title="" data-original-title="Ayuda">Fecha Inicial:</label>
                                {{form.fechai}}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_fechaf" class="fg-label requerido" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Solo puedes escoger un Domingo." title="" data-original-title="Ayuda">Fecha Final:</label>
                                {{form.fechaf}}
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts-alt"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_i" class="fg-label requerido">Grupo Inicial:</label>
                                <select class="selectpicker" data-live-search="true" id="idGrupo_i" name="menuGrupo_i">
                                    <option value="-1" {% if not grupo_i %} selected="selected" {% endif %}>Selecciona un grupo</option>
                                    {% for g_i in listaGrupo_i %}
                                        <option value="{{ g_i.id }}" {% if g_i == grupo_i %} selected="selected" {% endif %}>{{ g_i.nombre|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts-outline"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="idGrupo_f" class="fg-label requerido" {% if not grupo_f %} data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Debes escoger un grupo inicial para poder ver algo aquí o seleccionar la opción de 'Mostrar Todos los Descendientes del Grupo Inicial'." title="" data-original-title="Ayuda" {% endif %}>Grupo Final:</label>
                                <select class="selectpicker" data-live-search="true" id="idGrupo_f" name="menuGrupo_f">
                                        <option value="-1" >------</option>
                                        {% for g_f in listaGrupo_f %}
                                            <option value="{{ g_f.id }}" {% if g_f == grupo_f %} selected="selected" {% endif %} >{{ g_f.nombre|capfirst }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox">
                                <input type="checkbox" name="descendientes" id="idCheck" value="S" {% if lid_asis %}checked="checked"{% endif %}/>
                                <i class="input-helper m-r-20"></i>
                                Mostrar Todos Los Descendientes del Grupo Inicial
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <input type="hidden" name="type" id="type" value="1">
                        <button type="submit" value="Editar" class="btn btn-success btn-block" name ="verReporte">Ver</button>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <button type="submit" value="Editar" class="btn btn-warning btn-block" name ="reportePDF">Generar PDF</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if sw %}
    <div class="card">
        <div class="card-header">
            <h1>
                <legend><h3>Reporte</h3></legend>
            </h1>
        </div>
        <div class="card-body card-padding">
        <small>Selecciona una vista</small>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1">
                <input type="image" src="{% static 'Imagenes/chart_column.png' %}" value="column" name="column_button" id="column_button">
            </div>
            <div class="col-sm-1">
                <input type="image" src="{% static 'Imagenes/chart_pie_sel.png' %}" value="pie" name="pie_button" id="pie_button">
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    <div id="out"></div> 
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}