{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<h2>Redes</h2>
	{% if okElim == 1 %}
		<p class="ok">Se eliminaron las redes seleccionadas.</p>
	{% else %}
		{% if okElim == 2%}
			<p class="error">Hubo un error al eliminar redes.</p>
		{% endif %}
	{% endif %}
	{% if redes %}
		<p>Haga click en una red para ver los grupo de &eacute;sta</p>
		<form action="" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<p><a alt="Agregar Red" href="/grupo/crear_red/">Agregar Red <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a></p>
			<table id="redes" class="simple" cellspacing="0">
				<thead>
		       	<tr>
		       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('redes');" /></div></th>
		            <th>Nombre</th>
		       	</tr>
		    	</thead>
		    	<tbody>
				{% for red in redes %}
					<tr>
						<td><input type="checkbox" name="seleccionados" value="{{red.id}}"/></td>
						<td><a href="/grupo/listar_grupos/{{red.id}}">{{red.nombre|capfirst}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<br/>
			<input class="button blue smallB" type="submit" value="Editar" name="editar">
			<input class="button blue smallB" type="submit" value="Eliminar" name="eliminar">
		</form>
		<br />
	{% else %}
		<p>No existen redes a&uacute;n. Haga <a alt="Agregar Red" href="/grupo/crear_red/">click aqu&iacute;</a> para agregar una.</p>
	{% endif %}
{% endblock %}
