{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<h2>Predicas</h2>
	{% if okElim == 1 %}
		<p class="ok">Se eliminaron las predicas seleccionadas.</p>
	{% else %}
		{% if okElim == 2%}
			<p class="error">Hubo un error al eliminar las predicas.</p>
		{% endif %}
	{% endif %}
	{% if predicas %}
		<form action="" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<p><a alt="Agregar Predica" href="/grupo/crear_predica/">Agregar Predica <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a></p>
			<table id="redes" class="simple" cellspacing="0">
				<thead>
		       	<tr>
		       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('redes');" /></div></th>
		            <th>Nombre</th>
                    <th>Descripci&oacute;n</th>
		       	</tr>
		    	</thead>
		    	<tbody>
				{% for predica in predicas %}
					<tr>
						<td><input type="checkbox" name="seleccionados" value="{{predica.id}}"/></td>
						<td>{{predica.nombre|capfirst}}</td>
                        <td>{{ predica.descripcion|capfirst }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<br/>
			<input class="button blue smallB" type="submit" value="Editar" name="editar">
			<input class="button blue smallB" type="submit" value="Eliminar" name="eliminar">
		</form>
		<br />
	{% else %}
		<p>No existen predicas a&uacute;n. Haga <a alt="Agregar Predica" href="/grupo/crear_predica/">click aqu&iacute;</a> para agregar una.</p>
	{% endif %}
{% endblock %}
