<form action="" method="POST" id="form-solicitud-proceso" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalles de la Requisición</h4>
                </div>
                
                <div class="modal-body">
                    <div class="row infor">
                        <div class="alert alert-info" role="alert">
                            <button class="close" aria-label="close" data-dismiss="alert" type="button"></button>
                            <p class="info-pago"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="progress progress-striped m-b-10">
                                <div class="progress-bar progress-bar-success" id="progress-id" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"   data-trigger="hover" data-toggle="popover" data-placement="top" data-content="0%" title="" data-original-title="Progreso de la requisición"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12"><h5>Descripción</h5></div>
                        <div class="col-md-12" id="justificacion-req"></div>
                    </div>
                    <br>
                    {{ form.id_requisicion }}
                    <div class="table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Descripción</th>
                                    <th>Referencia</th>
                                    <th>Marca</th>
                                    <th>Valor Unitario</th>
                                    <th>Valor Total</th>
                                    <th>Forma de Pago</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <div id="archivos">
                        <h5>Archivos adjuntos a esta requisición</h5>
                        <ul id="archivos_list">
                            
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div id="contenido" class="row"></div>
                    {% if not empleado %}
                    <div class="row to_hidden">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="input-group fg-float {{ form.observacion.css_classes }}">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-"></i>
                                </span>
                                <div class="fg-line requerido">
                                    <label for="id_observacion" class="control-label requerido">Observaciones:</label>
                                    {{ form.observacion }}
                                </div>
                                {% for error in form.observacion.errors %}
                                    <small class="help-block">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if not empleado %}
                    <button type="submit" name="aprobar" class="btn btn-link to_hidden cancelar">Aprobar</button>
                    {% if not compras %}
                    <button type="submit" name="rechazar" class="btn btn-link to_hidden cancelar">Rechazar</button>
                    {% endif %}
                    {% endif %}
                    <button type="button" id="cancelar" class="btn btn-link cancelar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<a data-toggle="modal" id="toggleModal" href="#modalWider"></a>