{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block contenido %}
<div class="container">
	<form action="" method="post" enctype="multipart/form-data">
		<div class="card">
			<div class="card-header">
				<h2>
					<legend><h3>{% trans "Editar Requición No." %}{{ requisicion.id }}</h3></legend>
				</h2>
				{% if messages %}
					{% for message in messages %}
						<div class="row">
			                <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible" role="alert">
			                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
			                    <p>{{ message|safe }}</p>
			                </div>
			            </div>
					{% endfor %}
				{% endif %}
			</div>
			{% csrf_token %}
			<div class="card-body card-padding">
				<div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{% trans "Cantidad" %}</th>
                                <th>{% trans "Descripción" %}</th>
                                <th>{% trans "Referencia" %}</th>
                                <th>{% trans "Marca" %}</th>
                                <th>{% trans "Valor Unitario" %}</th>
                                <th>{% trans "Forma Pago" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for form_detalle in formset_detalles %}
                        	{% for hidden in form_detalle.hidden_fields %}
							    {{ hidden }}
							{% endfor %}
                            <tr class="form_detalles">
                        		{% if requisicion %}{{ form_detalle.id }}{% endif %}
                                <td class="{{ form_detalle.cantidad.css_classes }}">{{ form_detalle.cantidad }}</td>
                                <td class="{{ form_detalle.descripcion.css_classes }}">{{ form_detalle.descripcion }}</td>
                                <td class="{{ form_detalle.referencia.css_classes }}">{{ form_detalle.referencia }}</td>
                                <td class="{{ form_detalle.marca.css_classes }}">{{ form_detalle.marca }}</td>
                                <td class="{{ form_detalle.valor_aprobado.css_classes }}">{{ form_detalle.valor_aprobado }}</td>
                                <td class="{{ form_detalle.forma_pago.css_classes }}">{{ form_detalle.forma_pago }}</td>
                                {% if formset_detalles.can_delete %}
                                	<td>{{ form_detalle.DELETE }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ formset_detalles.management_form }}
				<br class="space">
				<br class="space-down">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button class="btn btn-block btn-primary" type="submit">
					{% trans "Aceptar" %}
				</button>
			</div>
		</div>
    </form>
</div>
{% endblock contenido %}
{% block js %}
	<script src="{% static 'Scripts/jquery.formset.js' %}"></script>
	<script src="{% static 'Scripts/tagsinput/bootstrap-tagsinput.js' %}"></script>
	<script>
		jQuery(document).ready(function($) {
			// $('input[id $="-DELETE"]').each(function(ind, obj) {
			// 	$(this).addClass('hidden');
			// })

	        $('.form-adjuntos').formset({
	            addText: 'Agregar Item',
	            deleteText: 'Quitar',
	            prefix: 'adjunto_set',
	            especial: true,
	            added: function (row) {
	            	// var $tipo = row.find('.tipo_doc');
	            	// var $viejo_select = row.prev(".form-documentos").find(".tipo_doc");
	            	// $tipo.html($viejo_select.html());
	            	// $tipo.selectpicker();
	            }
	        });
		});
	</script>
{% endblock js %}