{% extends "base.html" %}
{% load staticfiles %}
{% block contenido %}
<div class="container">
    <div class="block-header">
        <h2>Informes</h2>
    </div>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body card-padding">
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row"> 
                    <div class="col-md-4">
                        <div class="input-group {{form.departamento.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-balance"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.departamento.id_for_label }}" class="fg-label requerido control-label">{{ form.departamento.label }}:</label>
                                {{ form.departamento }}
                            </div>
                            {% for error in form.departamento.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.area.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-share"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.area.id_for_label }}" class="fg-label requerido control-label">{{ form.area.label }}:</label>
                                {{ form.area }}
                            </div>
                            {% for error in form.area.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.fecha_inicial.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.fecha_inicial.id_for_label }}" class="fg-label requerido control-label">{{ form.fecha_inicial.label }}:</label>
                                {{ form.fecha_inicial }}
                            </div>
                            {% for error in form.fecha_inicial.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br class="space-down">
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group {{form.fecha_final.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-comment-alt-text"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.fecha_final.id_for_label }}" class="fg-label control-label requerido">{{ form.fecha_final.label }}:</label>
                                {{ form.fecha_final }}
                            </div>
                            {% for error in form.fecha_final.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    {% for tipo in form.tipo %}
                    <div class="col-md-2 {% if forloop.first %}col-md-offset-1{% endif %}">
                        <div class="input-group {{form.tipo.css_classes}}">
                            <div class="fg-line">
                                <label for="{{ tipo.id_for_label }}" class="radio m-r-20">
                                    {{ tipo.tag }}
                                    <i class="input-helper m-r-20"></i>
                                    {{ tipo.choice_label }}
                                </label>
                            </div>
                        {% for error in form.fecha_final.errors %}
                            <small class="help-block">{{error}}</small>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-block btn-primary" type="submit">
                            Aceptar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if requisiciones %}
    <div class="row">
        <div class="col-sm-12 col-sm-offset-">
        <!-- Recent Items -->
            <div class="card">
                <div class="card-header">
                    <h2>Resultados de la Consulta Por {% if form.cleaned_data.tipo == 1 %}Área{% else %}Departamento{% endif %}<small>Datos recolectados de requisiciones entre las fechas {{ form.cleaned_data.fecha_inicial }} - {{ form.cleaned_data.fecha_final }}</small></h2>
                </div>
                <div class="card-body m-t-0">
                    <table class="table table-inner table-vmiddle">
                        <thead>
                            <tr>
                                <th>Notificación</th>
                                <th style="width: 60px">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="f-500 c-cyan">Número Total de Requisiciones</td>
                                <td class="f-500 c-cyan">{{ total_requisiciones }}</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">Precio Total de las Requisiciones</td>
                                <td class="f-500 c-cyan">{{ total_precio }}</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">Número Total de Requisiciones Pagadas</td>
                                <td class="f-500 c-cyan">{{ total_requisiciones_pagadas }}</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">Precio Total de las Requisiciones Pagadas</td>
                                <td class="f-500 c-cyan">{{ total_pagadas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="recent-items-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bgm-cyan"> <!-- Please refer the Colors page in User Interface for more color classes -->
                    <h2>Asuntos de las requisiciones <small>Nam at dui sed lacus lacinia lobortis</small></h2>
                </div>

                <div class="card-body card-padding">
                    {% for asunto in asuntos %}{% if forloop.first %}{{ asunto }}{% else %}, {{ asunto }}{% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}

<!-- Page-Level Plugin Scripts - Morris -->
<script type="text/javascript">
  $(document).ready(function(){
       $('#{{ form.fecha_inicial.id_for_label }}').datetimepicker({
            format: 'DD/MM/YY',
            maxDate: moment(),
        });

        $('#{{ form.fecha_final.id_for_label }}').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YY',
            maxDate: moment(),
        });

        $('#{{ form.fecha_inicial.id_for_label }}').on("dp.change",function(e){
            $('#{{ form.fecha_final.id_for_label }}').data("DateTimePicker").minDate(e.date);
        });

        $('#{{ form.fecha_final.id_for_label }}').on("dp.change",function(e){
            $('#{{ form.fecha_inicial.id_for_label }}').data("DateTimePicker").maxDate(e.date);
        });

        $('#{{ form.departamento.id_for_label }}').change(function(event) {
            var $id = $(this).val();
            $.ajax({
                url: '{% url "compras:get_areas_by_departamento_json" 0 %}'.replace('0', $id),
                type: 'GET',
                data: {},
                success: function(data) {
                    var opciones = '<option value="-1" selected="selected">------</option>';
                    data.forEach(function(item){
                        opciones += '<option value="' + item['id'] + '">' + item['area'] + '</option>';
                    });
                    $('#{{ form.area.id_for_label }}').html(opciones);
                    $('#{{ form.area.id_for_label }}').trigger('chosen:updated');
                    $('#{{ form.area.id_for_label }}').selectpicker('refresh');
                }
            })
            
        });
  });
</script>

{% endblock %}