{% extends "base.html" %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-control-geocoder-1.5.3/dist/Control.Geocoder.css' %}"></link>
{% comment %}<link rel="stylesheet" href="{% static 'leaflet/L.GeoSearch-develop/src/css/l.geosearch.css' %}">{% endcomment %}
<script src="{% static 'leaflet/leaflet.js' %}"></script>
{% comment %}<script src="{% static 'leaflet/L.GeoSearch-develop/src/js/l.control.geosearch.js' %}"></script>
<script src="{% static 'leaflet/L.GeoSearch-develop/src/js/l.geosearch.provider.openstreetmap.js' %}"></script>{% endcomment %}

<script src="{% static 'leaflet-control-geocoder-1.5.3/dist/Control.Geocoder.js' %}"></script>
<style>
    #mapid {
        height: 500px;
    }
</style>
{% endblock css %}


{% block contenido %}
<div id="mapid"></div>
{% endblock contenido %}


{% block js %}
<script>
    var mymap = L.map('mapid').setView([10.999236, -74.805117], 15);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'your.mapbox.project.id',
        accessToken: 'your.mapbox.public.access.token'
    }).addTo(mymap);

    var geocoder = L.Control.Geocoder.nominatim(),
		control = L.Control.geocoder({
			geocoder: geocoder
		}).addTo(mymap),
		marker;
    L.marker([10.999236, -74.805117]).addTo(mymap).bindPopup("<b>Hello World!</b><br />I am a popup.").openPopup();

    {% comment %}var provider = new L.GeoSearch.Provider.OpenStreetMap();

    var _provider = new L.Control.Geocoder.Nominatim();
    console.log(_provider);

    new L.Control.GeoSearch({
        provider: provider
    }).addTo(mymap);

    console.log(_provider);{% endcomment %}

    mymap.on('click', function(e) {
        geocoder.reverse(e.latlng, mymap.options.crs.scale(mymap.getZoom()), function(results) {
            var r = results[0];
            if (r) {
                if (marker) {
                    marker.
                        setLatLng(r.center).
                        setPopupContent(r.html || r.name).
                        openPopup();
                } else {
                    marker = L.marker(r.center).bindPopup(r.name).addTo(mymap).openPopup();
                }
            }
        })
    })

    geocoder.geocode('carrera 50 47 barranquilla', function(results){
        console.log(results);
        latLng = new L.LatLng(results[0].center.lat, results[0].center.lng);
        console.log(latLng);
        marker = new L.Marker(latLng);
        marker.addTo(mymap).bindPopup("<b>Hello World!</b><br />I am a popup.").openPopup();;
    });

</script>
{% endblock js %}