{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#buscarDiferente").click(function(){
			$("#buscarHidden").submit();
		});
	});
</script>
{% endblock %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1>
				<legend>
					<h3>
						Resultado de b&uacute;squeda de {{tipoBus}}
					</h3>
				</legend>
				<small><a style="cursor: pointer;" id="buscarDiferente">Ver resultado de {% ifequal tipoBus 'grupo' %}Miembro{% else %}Grupo{% endifequal %}</a></small>
			</h1>
		</div>
		{% ifequal tipoBus 'miembro' %}
		<div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt clearfix">
                    <h2 class="lvh-label hidden-xs">Tipo de Búsqueda {{tipoBus|upper}}</h2>
                </div>
                
                <div class="lv-body">
			{%for resultado in resultados %}
				{% ifequal resultado.model_name 'miembro' %}
                    <div class="lv-item media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="{% if resultado.resultado.foto_perfil %}{{ resultado.resultado.foto_perfil.url }}{% else %}{% static 'Imagenes/profile-none.jpg' %}{% endif%}" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"><a href="/miembro/perfil/{{resultado.resultado.pk}}">{{resultado.resultado.nombre|upper}} {{resultado.resultado.primerApellido|upper}} ({{resultado.resultado.cedula}})</a> {% if perms.miembros.puede_editar_miembro %} <a alt="Editar" href="/miembro/editar_miembro/{{resultado.resultado.pk}}"></a></h5> {% endif %}
								{% if not resultado.resultado.grupo and perms.miembros.puede_editar_miembro %}<a alt="Asignar Grupo" href="/miembro/asignar_grupo/{{resultado.resultado.pk}}">{% endif %}</div>
							{% with resultado.resultado as m %}
                            <small class="lv-small">{% if m.grupoLidera %}Lider del Grupo '{{m.grupoLidera.nombre|upper}}'{% else %}{% if m.grupo %}Asiste al Grupo '{{m.grupo.nombre|upper}}'{% else %}No Asiste a Ningún Grupo{% endif %}{% endif %}</small>
							{% endwith %}
                        </div>
                    </div>
				{% endifequal %}
			{% endfor %}
			    </div>
		{% else %}
		<div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt clearfix">
                    <h2 class="lvh-label hidden-xs">Tipo de Búsqueda {{tipoBus|upper}}</h2>
                </div>
                
                <div class="lv-body">
			{% for resultado in resultados %}
				{% ifequal resultado.model_name 'grupo' %}
					<div class="lv-item media">
                        <div class="media-body">
                            <div class="lv-title"><a href="/miembro/perfil/{{resultado.resultado.pk}}"><a href="/grupo/{{resultado.resultado.pk}}">{{resultado.resultado.nombre|upper}}</a></div>
							{% with resultado.resultado as m %}
                            <small class="lv-small">{{m.direccion|upper}}, {{m.barrio|upper}}, {{m.horaGAR}}, ({{m.get_estado_display|upper}})</small>
							{% endwith %}
                        </div>
                    </div>
				{% endifequal %}
			{% endfor %}
				</div>
		{% endifequal %}

		<form id="buscarHidden" method="post" action="/resultado/{% ifequal tipoBus 'grupo' %}miembro{% else %}grupo{% endifequal %}/">
	    	{% csrf_token %}		
	        <input type="hidden" value="{{ sTerm }}" name="buscar" />
	    </form>
	</div>
</div>
{% endblock %}
