{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#buscarDiferente").click(function(){
			$("#buscarHidden").submit();
		});
	});
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
	<h2>Resultados de b&uacute;squeda de {{tipoBus}}</h2>
	<div class="resultado">
	{% ifequal tipoBus 'miembro' %}
		
		{%for resultado in resultados %}
			{% ifequal resultado.model_name 'miembro' %}
				<p><a href="/miembro/perfil/{{resultado.resultado.pk}}">{{resultado.resultado.nombre|capfirst}} {{resultado.resultado.primerApellido|capfirst}}</a> {% if perms.miembros.puede_editar_miembro %} <a alt="Editar" href="/miembro/editar_miembro/{{resultado.resultado.pk}}"><img alt="Editar" src="{{MEDIA_URL}}Imagenes/user_edit.png" /></a> {% endif %}
				{% if not resultado.resultado.grupo and perms.miembros.puede_editar_miembro %}<a alt="Asignar Grupo" href="/miembro/asignar_grupo/{{resultado.resultado.pk}}"><img alt="Asignar Grupo" src="{{MEDIA_URL}}Imagenes/add.png" /></a>{% endif %}
				
			{% endifequal %}
		{% endfor %}
	{% else %}
		{% for resultado in resultados %}
			{% ifequal resultado.model_name 'grupo' %}
				<p><a href="/grupo/{{resultado.resultado.pk}}">{{resultado.resultado.nombre|capfirst}}</a></p>
			{% endifequal %}
		{% endfor %}
	{% endifequal %}
    <form id="buscarHidden" method="post" action="/resultado/{% ifequal tipoBus 'grupo' %}miembro{% else %}grupo{% endifequal %}/">
    	{% csrf_token %}		
        <input type="hidden" value="{{ sTerm }}" name="buscar" />
    </form>
    <a id="buscarDiferente">Ver resultado de {% ifequal tipoBus 'grupo' %}Miembro{% else %}Grupo{% endifequal %}</a>
	</div>

{% endblock %}

{% block pieDePagina %}
{% endblock %}