{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700">
                <legend><h3>{{accion}} Pr&eacute;dica</h3></legend>
            </h1>
            {% if ok %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} la predica correctamente. Haga click en aceptar para editar la predica siguiente o <a alt="Listar Predicas" class="alert-link" href="/grupo/listar_predicas"> Volver a la lista de prédicas.</a></p>
                    </div>
                </div>
            {% endif %} 

            {% if form.errors %}
                <div class="row">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>Aún hay campos vacios.</p>
                    </div>
                </div>
            {% endif %} 
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="input-group {{form.nombre.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_nombre" class="fg-label requerido control-label">Nombre:</label>
                            	{{form.nombre}}
                            </div>
                            {% for error in form.nombre.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    {% comment %}<br class="space-down">{% endcomment %}
                    <div class="col-md-4">
                        <div class="input-group {{form.miembro.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="{{ form.miembro.id_for_label }}" class="fg-label requerido control-label">{{ form.miembro.label }}:</label>
                            	{{ form.miembro }}
                            </div>
                            {% for error in form.miembro.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <div class="input-group {{form.descripcion.css_classes}}">
                        	<span class="input-group-addon">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_descripcion" class="fg-label control-label requerido">Descripcci&oacute;n:</label>
                            	{{form.descripcion}}
                            </div>
                            {% for error in form.descripcion.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="aceptar" name="aceptar" class="btn btn-primary btn-block">Aceptar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}