{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_fechaApertura").datetimepicker({
            maxDate : moment(),
            format: 'DD/MM/YYYY'
        });
        
        $("#id_horaDiscipulado").datetimepicker({
            format: 'hh:mm:ss',
        });
        
        $("#id_horaGAR").datetimepicker({
            format: 'hh:mm:ss',
        });


        // Validaciones para elecciones de grupos

        // variable donde se almacena el ultimo campo que se ocultó
        var $ultimo;

        $('#id_lider1').change(function(event) {
            if ($ultimo) {
                $ultimo.fadeIn(100);
                setTimeout(function() {
                    $('#id_lider2').selectpicker('refresh');
                    $('#id_lider1').selectpicker('refresh');
                }, 500);
            }
            $ultimo = $('#id_lider2 option[value="' + $(this).val() + '"]')
            $ultimo.fadeOut(100);
            setTimeout(function() {
                $('#id_lider2').selectpicker('refresh');
            }, 500);
        });

        $('#id_lider2').change(function(event) {
            if ($ultimo) {
                $ultimo.fadeIn(100);
                setTimeout(function() {
                    $('#id_lider2').selectpicker('refresh');
                    $('#id_lider1').selectpicker('refresh');
                }, 500);
            }
            $ultimo = $('#id_lider1 option[value="' + $(this).val() + '"]')
            $ultimo.fadeOut(100);
            setTimeout(function() {
                $('#id_lider1').selectpicker('refresh');
            }, 500);
        });

        // Fin de Validaciones
	});
</script>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {{a}}
            <h1 class="f-700">
                <legend><h3>{{accion}} Grupo</h3></legend>
            </h1>
            {% if ok %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>Se ha {% if accion == 'Crear' %}creado{% else %}editado{% endif %} el grupo correctamente. <a alt="Lista de Grupos" class="alert-link" href="/grupo/listar_grupos/{{red.id}}">Volver a la lista de grupos</a></p>
                    </div>
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="row">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                        <p>Aún hay campos vacios, Asegurate de llenarlos todos</p>
                    </div>
                </div>
            {% endif %} 
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group {{form.lider1.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_lider1" class="fg-label control-label requerido">L&iacute;der 1*:</label>
                            	{{form.lider1}}
                            </div>
                            {% for error in form.lider1.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.lider2.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-o"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_lider2" class="fg-label control-label requerido">L&iacute;der 2:</label>
                            	{{form.lider2}}
                            </div>
                            {% for error in form.lider2.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.direccion.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-map"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_direccion" class="fg-label control-label">Direcci&oacute;n*:</label>
                            	{{form.direccion}}
                            </div>
                            {% for error in form.direccion.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group {{form.estado.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-refresh"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_estado" class="fg-label control-label requerido">Estado*:</label>
                            	{{form.estado}}
                            </div>
                            {% for error in form.estado.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.fechaApertura.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_fechaApertura" class="fg-label control-label">Fecha Apertura Grupo*:</label>
                            	{{form.fechaApertura}}
                            </div>
                            {% for error in form.fechaApertura.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.diaGAR.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_diaGAR" class="fg-label control-label">Dia del G.A.R*:</label>
                            	{{form.diaGAR}}
                            </div>
                            {% for error in form.diaGAR.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group {{form.horaGAR.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-time"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_horaGAR" class="fg-label control-label">Hora del G.A.R*:</label>
                            	{{form.horaGAR}}
                            </div>
                            {% for error in form.horaGAR.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.diaDiscipulado.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_diaDiscipulado" class="fg-label control-label">Dia del Discipulado*:</label>
                            	{{form.diaDiscipulado}}
                            </div>
                            {% for error in form.diaDiscipulado.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.horaDiscipulado.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-time"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_horaDiscipulado" class="fg-label control-label">Hora del Discipulado*:</label>
                            	{{form.horaDiscipulado}}
                            </div>
                            {% for error in form.horaDiscipulado.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group {{form.nombre.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_nombre" class="fg-label control-label">Nombre*:</label>
                            	{{form.nombre}}
                            </div>
                            {% for error in form.nombre.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <br class="space">
                    <div class="col-md-4">
                        <div class="input-group {{form.barrio.css_classes}}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-pin"></i>
                            </span>
                            <div class="fg-line">
                                <label for="id_barrio" class="fg-label control-label">Barrio*:</label>
                            	{{form.barrio}}
                            </div>
                            {% for error in form.barrio.errors %}
                                <small class="help-block">{{error}}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="aceptar" name="aceptar" class="btn btn-primary btn-block">Aceptar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}