{% extends "base.html" %}

{% block contenido %}

<div class="container">
	<div class="card">
		<div class="card-header">
			<h1><legend><h3>{{grupo.nombre}} de la Red {{grupo.red.nombre}}</h3></legend></h1>
		</div>
		<div class="card-body card-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="fg-line">
						<div class="col-md-4">
							<div class="input-group">
								<h5>Zona:</h5>
								<small>{{grupo.barrio.zona.nombre}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>Barrio:</h5>
								<small>{{grupo.barrio.nombre}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>Direcci&oacute;n</h5>
								<small>{{grupo.direccion}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="fg-line">
						<div class="col-md-4">
							<div class="input-group">
								<h5>D&iacute;a GAR:</h5>
								<small>{{grupo.diaGAR}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>Hora GAR:</h5>
								<small>{{grupo.horaGAR}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>D&iacute;a Discipulado:</h5>
								<small>{{grupo.diaDiscipulado}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="fg-line">
						<div class="col-md-4">
							<div class="input-group">
								<h5>Hora Discipulado:</h5>
								<small>{{grupo.horaDiscipulado}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>Fecha de Apertura:</h5>
								<small>{{grupo.fechaApertura}}</small>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<h5>Líderes:</h5>
								<small>{{grupo.lider1.nombre}} {{grupo.lider1.primerApellido}}</small>
								{% if grupo.lider2 %}
								<small> y {{grupo.lider2.nombre}} {{grupo.lider2.primerApellido}}</small>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}