{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-command").bootgrid({
	        		css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
	                    },
                    {% if grupos %}
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    caseSensitive: false,
                    keepSelection: true,
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/grupo/editar_grupo/" + row.id + "'\"><span class=\"zmdi zmdi-edit\"></span></button> ";
                        }
                    }
                    {% endif %}
                });
        $("button[name='eliminar']").click(function(event) {
            if (!$('tr').hasClass('active')) {
                swal("Nada que Eliminar")
                event.preventDefault();
            } else {
                return true;
            }
        });
    })
</script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
        	<h1>
        		<legend>
					<h3 class="f-700 f-20">Grupos de la Red {{red.nombre|capfirst}}</h3>
        		</legend>
        	</h1>
			<h5><a alt="Agregar Grupo" href="/grupo/crear_grupo/{{red.id}}">Agregar Grupos</a></h5>
			{% if okElim == 1 %}
			<div class="row">
	            <div class="alert alert-success alert-dismissible" role="alert">
	                <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
	                <p>Se eliminaron los grupos seleccionadas.</p>
	            </div>
	        </div>
			{% else %}
				{% if okElim == 2 %}
					<div class="row">
		                <div class="alert alert-danger alert-dismissible" role="alert">
		                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
		                    <p>Hubo un error al eliminar los grupo.</p>
		                </div>
		            </div>
				{% endif %}
			{% endif %}
        </div>
        {% if grupos %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
						<table id="data-table-command" class="table table-striped table-vmiddle">
							<thead>
						       	<tr>
						       		<th data-identifier="true" data-column-id="id" data-visible="false"></th>
						            <th data-identifier="true" data-column-id="nombre">Nombre</th>
						            <th data-identifier="true" data-column-id="lider1">Lider1</th>
						            <th data-identifier="true" data-column-id="lider2">Lider2</th>
						            <th data-identifier="true" data-column-id="estado">Estado</th>
						            <th data-identifier="true" data-column-id="fecha">Fecha de Apertura</th>
						            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Comandos</th>
						       	</tr>
					    	</thead>
					    	<tbody>
							{% for grupo in grupos %}
								<tr>
									<td>{{grupo.id}}</td>
									<td>{{grupo.nombre|capfirst}}</td>
									<td>{{grupo.lider1.nombre|capfirst}}</td>
									<td>{{grupo.lider2.nombre|capfirst}}</td>
									<td>{{grupo.get_estado_display}}</td>
									<td>{{grupo.fechaApertura|capfirst}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn btn-danger btn-block" name ="eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="card-body card-padding">
        	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="alert alert-warning" role="alert">
						<p>A&uacute;n no se han agregado grupos a esta red.</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
    </div>
</div>
{% endblock %}