{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                <legend>
                    <h3 class="f-700 f-20">Confirmar Ofrenda Grupo de Amistad</h3>
                </legend>
            </h1>
            {% if mensaje%}
            <div class="row">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>{{mensaje}}</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% if sw %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body card-padding table-responsive">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table id="ofrendasPendientesGAR" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="checkboxBoton"><div class="button gray smallB checkBoton">
                                    <input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('ofrendasPendientesGAR');" /></div></th>
                                    <th>Grupo</th>
                                    <th>Fecha Reunion</th>
                                    <th>Monto Ofrenda</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for reunion in ofrendasPendientesGar %}
                                <tr>
                                    <td><input type="checkbox" name="seleccionados" value="{{reunion.id}}"/></td>
                                    <td>{{reunion.grupo.nombre|capfirst}}</td>
                                    <td>{{reunion.fecha}}</td>
                                    <td>{{reunion.ofrenda}}</td>
                                    
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="centrarTexto">No tiene reuniones a confirmar.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Verificar" class="btn btn-primary btn-block">Verificar</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
