{% extends "base.html" %}
{% load i18n staticfiles %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="f-700">
                <legend><h3>{% trans 'Reporte Reunión Discipulado' %}</h3></legend>
            </h1>
        </div>

        <div class="card-body card-padding">
            {% include "_alert_messages.html" %}

            <form action="" method="POST">
                {% csrf_token %}

                {% include "_alert_non_field_errors.html" %}
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group {{ form.grupo.css_classes }}">
                            <span class="input-group-addon"><i class="zmdi zmdi-map"></i></span>
                            <div class="fg-line">
                                <label for="{{ form.grupo.id_for_label }}" class="fg-label control-label">{{ form.grupo.label }}*:</label>
                                {{ form.grupo }}
                            </div>
                            {{ form.grupo.errors }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group {{ form.predica.css_classes }}">
                            <span class="input-group-addon"><i class="zmdi zmdi-map"></i></span>
                            <div class="fg-line">
                                <label for="{{ form.predica.id_for_label }}" class="fg-label control-label">{{ form.predica.label }}*:</label>
                                {{ form.predica }}
                            </div>
                            {{ form.predica.errors }}
                        </div>
                    </div>
                </div>
                <br>
                <br class="space-down">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group {{ form.ofrenda.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-map"></i>
                            </span>
                            <div class="fg-line">
                                <label for="{{ form.ofrenda.id_for_label }}" class="fg-label control-label">{{ form.ofrenda.label }}*:</label>
                                {{ form.ofrenda }}
                            </div>
                            {{ form.ofrenda.errors }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group {{ form.novedades.css_classes }}">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-map"></i>
                            </span>
                            <div class="fg-line">
                                <label for="{{ form.novedades.id_for_label }}" class="fg-label control-label">{{ form.novedades.label }}*:</label>
                                {{ form.novedades }}
                            </div>
                            {{ form.novedades.errors }}
                        </div>
                    </div>
                </div>
                <h2>Asistencia</h2>
                {{ form.asistencia.value }}
                <div class="table-responsive">
                    <table id="data-table-selection" class="table table-striped">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-identifier="true" data-type="numeric" data-visible="false"></th>
                                <th data-column-id="nombre" data-identifier="true">{% trans 'Nombre' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% for id, nombre in form.asistencia.field.choices %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ nombre }}</td>
                            </tr>
                            {% endfor %} -->
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button name="aceptar" class="btn btn-primary btn-block">{% trans 'Aceptar' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>

<script>
    $(document).ready(function() {
        $("#data-table-selection").bootgrid({ 
            css: { 
                icon: 'zmdi icon', 
                iconColumns: 'zmdi-view-module', 
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less' 
            },
            labels: {
                noResults: "No tiene discipulos"
            },
            selection: true, 
            multiSelect: true, 
            rowSelect: true, 
            keepSelection: true 
        });

        $("#id_grupo").change(function() {
            console.log('selected');
            let val = $(this).val();
            if (val) {
                getDiscipulos(val);
            }
            else {
                fillAsistenciaTable([]);
            }
        });

        $('button[name="aceptar"]').click(function(e) {
            if (!$('#id_grupo').val()) {
                swal("Alerta", "Debes escoger un grupo.");
                return false;
            }

            if (!$('#id_predica').val()) {
                swal("Alerta", "Debes escoger una predica.");
                return false;
            }

            let seleccionados = getAsistentesSeleccionados();
            if (seleccionados.length > 0) {
                addSelectedAsistentesToForm(seleccionados);
                return true;
            }
            else {
                swal("Alerta", "Debes escoger algun miembro asistente");
                return false;
            }

            return false;
        });

        {% if form.is_bound %}
        console.log('bound');
        if ($("#id_grupo").val()) {
            $("#id_grupo").trigger('change');
        }
        console.log($("#id_grupo").val());
        {% endif %}
    });

    function getDiscipulos(grupo) {
        $.get(
            "{% url 'grupos:discipulos_api' 0 %}".replace(0, grupo),
            function (data) {
                fillAsistenciaTable(data);
                selectAsistentesForm(getAsistenciaFromDjango);
            },
            "json"
        );
    }

    function fillAsistenciaTable(discipulos) {
        $("#data-table-selection").bootgrid("clear").bootgrid("append", discipulos);
    }

    function getAsistentesSeleccionados() {
        return $("#data-table-selection").bootgrid("getSelectedRows");
    }

    function addSelectedAsistentesToForm(asistentes) {        
        const form = $('form');
        asistentes.forEach(asistente => {
            form.append(`<input type="hidden" name="asistencia" value="${asistente}">`);
        });
    }

    function selectAsistentesForm(asistentes) {
        $("#data-table-selection").bootgrid("select", asistentes);
    }

    function getAsistenciaFromDjango() {
        let asistencia = [];
        {% for asistente in form.asistencia.value %}
        asistencia.push({{ asistente }});
        {% endfor %}
        return asistencia;
    }
</script>
{% endblock %} 