{% extends "base.html" %}
{% load staticfiles i18n %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1>
				<legend>
					<h3>{% trans 'Lista Grupos Con Ofrenda Sin Confirmar' %}</h3>
				</legend>
			</h1>
			{% if mensaje %}
	            <div class="row">
	                <div class="alert alert-success alert-dismissible" role="alert">
	                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
	                    <p>{{ mensaje }}</p>
	                </div>
	            </div>
            {% endif %}
		</div>

        <div class="card-body card-padding table-responsive">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table id="data-table-command" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th data-visible="false" data-identifier="true" data-column-id="id"></th>
                                <th data-identifier="true" data-column-id="grupo">{% trans 'Grupo' %}</th>
                                <th data-column-id="ver" data-formatter="commands" data-sortable="false">{% trans 'Registrar' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for grupo in grupos %}
                            <tr>
                                <td>{{ grupo.id }}</td>
                                <td>{{ grupo }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'Scripts/funciones.js' %}"></script>
<script src="{% static 'Template/jquery/vendors/bootgrid/jquery.bootgrid.updated.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                        },
                    caseSensitive: false,
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\" onClick=\"window.location.href='/miembro/confirmar_ofrenda_gar/" + row.id + "'\"><span class=\"zmdi zmdi-card\"></span></button> "
                        }
                    }
                });
    })
</script>
{% endblock %}
