{% extends "base.html" %}

{% block js %}
	<script>
	 jQuery(document).ready(function($) {
	 	$('#form').submit(function(event) {
	 		/* Act on the event */
	 		if ($('#id_pago').val() == '') {
	 			swal("Alerta", "Asegurate de haber escrito alguna cifra");
	 			return false;
	 		} else {
	 			return true;
	 		}
	 	});
	 });
	</script>
{% endblock js %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1>
			<legend><h3>Recibir Pago Academia de {{miembroRecibir.estudiante.nombre}} {{miembroRecibir.estudiante.primerApellido}}</h3></legend>
			</h1>
			{% if ok %}
			<div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>Se ha registrado el pago correctamente.<a class="alert-link" alt="Lista de pagos" href="/academia/listar_pagos/">Volver a la lista de pagos</a></p>
                </div>
            </div>
            {% endif %}
		</div>
		<div class="card-body card-padding">
			<form action="" method="POST" enctype="multipart/form-data" id="form">
			{% csrf_token %}
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-money-box"></i>
                            </span>
                            <div class="fg-line requerido">
                                <label for="id_pago" class="fg-label requerido">Pago:</label>
                                {{form.pago}}
                            </div>
                        </div>
                    </div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button name="aceptar" class="btn btn-info btn-block" type="submit">
							Aceptar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}