{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
	<h2>{% if not admin %}Mis{% endif %} Cursos</h2>
    <form action="" method="post">
    	{% csrf_token %}
    	{% if admin %}<p><a alt="Agregar Curso" href="/academia/crear_curso/">Agregar Curso <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a></p>{% endif %}
        <table id="tablaCursos" class="simple" cellspacing="0">
            <thead>
                <tr>
                	<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('tablaCursos');"/></div></th>
                    <th>Nombre</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Direccion</th>
                    <th>Red</th>
                    <th>Material</th>
                    {% if admin %}
                    	<th>Profesor</th>
                        <th>Estado</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for c in cursos %}
                    <tr>
                    	<td><input type="checkbox" name="seleccionados" value="{{c.id}}"/></td>
                        <td><a href="/academia/estudiantes/{{ c.id }}">{{ c.nombre }}</a></td>
                        <td>{{ c.get_dia_display }}</td>
                        <td>{{ c.hora }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>{{ c.red.nombre }}</td>
                        <td>{{ c.material }}</td>
                        {% if admin %}
                    		<td>{{ c.profesor.nombre|capfirst }} {{ c.profesor.primerApellido|capfirst }} {{ c.profesor.segundoApellido|capfirst }}		 							</td>
                        	<td>{{ c.get_estado_display }}</td>
                    	{% endif %}
                    </tr>
                {% empty %}
                	<tr>
                      {% if admin %}
                    	<td colspan="9" class="centrarTexto">No hay cursos creados en la academia.</td>
                      {% else %}
                        <td colspan="7" class="centrarTexto">No has sido asignado a ningun curso.</td>
                      {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <input type="submit" name="Editar" value="Editar" class="button blue smallB">
    </form>
{% endblock %}