{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/funciones.js"></script>
{% endblock %}

{% block contenido %}
<h2>Modulos</h2>

		{% if okElim == 1 %}
			<p class="ok">Se eliminaron los modulos seleccionadas.</p>
		{% else %}
			{% if okElim == 2%}
				<p class="error">Hubo un error al eliminar modulos.</p>
			{% endif %}
		{% endif %}

		<p>Haga click en un modulo para ver las sesiones de &eacute;ste.</p>
		<form action="" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<a alt="Agregar Modulo" href="/academia/crear_modulo/">Agregar Modulo <img src="{{MEDIA_URL}}Imagenes/add1.png" /></a>
			<br/>
			<table id="modulos" class="simple" cellspacing="0">
				<thead>
		       	<tr>
		       		<th class="checkboxBoton"><div class="button gray smallB checkBoton">
	    			<input type="checkbox" name="checkBoton" class="checkBoton todos" onclick="checkTodos('modulos');" /></div></th>
		            <th>Nombre</th>
		            
		       	</tr>
		    	</thead>
		    	<tbody>
				{% for modulo in modulos %}
					<tr>
						<td><input type="checkbox" name="seleccionados" value="{{modulo.id}}"/></td>
						<td><a alt="Ver Sesiones" href="/academia/sesiones/{{modulo.id}}/">{{modulo.nombre|capfirst}}</a></td>
					</tr>
                {% empty %}
                	<tr>
                    	<td colspan="2" class="centrarTexto">No existen modulos a&uacute;n.</td>
                    </tr>
				{% endfor %}
				</tbody>
			</table>
			<br/>
			<input class="button blue smallB" type="submit" value="Editar" name="editar">
            <input class="button blue smallB" type="submit" value="Eliminar" name="eliminar">
		</form>
{% endblock %}  