{% extends "base.html" %}

{% block js %}
<link href="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Scripts/jquery-ui-1.8.11.custom/i18n/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_fechaInicio").datepicker();
	});
</script>
{% endblock %}

{% block contenido %}
	<h2>Matricular Estudiante</h2>
    
	{% if ok %}
		<p class="ok">Se ha mariculado el estudiante correctamente. 
        <a alt="Listar Estudiantes" href="/academia/estudiantes/{{ id }}/">(volver a la lista de estudiantes.)</a></p>
	{% endif %}	
	<form class="alinearForm" action="" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		{{ form.as_p }}
	<p><input class="button blue smallB" type="submit" value="matricular" name="matricular"></p>
	</form>
{% endblock %}