{% extends 'base.html' %}

{% block css %}
    <style>
        .has-error .input-group-addon{
            border-color: #fff;
            background-color: initial;
        }

        .has-success .input-group-addon{
            border-color: #fff;
            background-color: initial;
        }

        .has-warning .input-group-addon{
            border-color: #fff;
            background-color: initial;
        }
    </style>
{% endblock css %}

{% block contenido %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1><legend><h3>Crear Empleado</h3></legend></h1>
			{% if messages %}
				{% for message in messages %}
					<div class="row">
		                <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible" role="alert">
		                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
		                    <p>{{ message }}</p>
		                </div>
		            </div>
				{% endfor %}
			{% endif %}	
		</div>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="card-body card-padding">
				<div class="row">
	                <div class="col-md-4">
	                    <div class="input-group fg-float {{ form.correo.css_classes }}">
	                        <span class="input-group-addon">
	                            <i class="zmdi zmdi-account"></i>
	                        </span>
	                        <div class="fg-line requerido">
	                            <label for="id_correo" class="control-label requerido">{{ form.correo.label }}:</label>
	                            {{ form.correo }}
	                        </div>
	                        {% for error in form.correo.errors %}
	                        	<small class="help-block">{{ error }}</small>
	                        {% endfor %}
	                    </div>
	                </div>
	                <br class="space">
	                <div class="col-md-4">
	                    <div class="input-group fg-float {{ form.contrasena.css_classes }}" id="contrasena">
	                        <span class="input-group-addon">
	                            <i class="zmdi zmdi-account"></i>
	                        </span>
	                        <div class="fg-line requerido">
	                            <label for="{{ form.contrasena.id_for_label }}" class="control-label requerido">{{ form.contrasena.label }}:</label>
	                            {{ form.contrasena }}
	                        </div>
	                        {% for error in form.contrasena.errors %}
	                        	<small class="help-block">{{error}}</small>
	                        {% endfor %}
	                    </div>
	                </div>
	                <br class="space">
	                <div class="col-md-4">
	                    <div class="input-group fg-float {{ form.contrasena_confirmacion.css_classes }}" id="contrasena_confirmacion">
	                        <span class="input-group-addon">
	                            <i class="zmdi zmdi-account"></i>
	                        </span>
	                        <div class="fg-line requerido">
	                            <label for="{{ form.contrasena_confirmacion.id_for_label }}" class="control-label requerido">{{ form.contrasena_confirmacion.label }}:</label>
	                            {{ form.contrasena_confirmacion }}
	                        </div>
	                        {% for error in form.contrasena_confirmacion.errors %}
	                        	<small class="help-block">{{error}}</small>
	                        {% endfor %}
	                    </div>
	                </div>
	            </div>
	            <br>
	            <br class="space-down">
	            <div class="row">
	                <div class="col-md-4 col-md-offset-2">
	                    <div class="input-group fg-float {{ form.tipo_usuario.css_classes }}">
	                        <span class="input-group-addon">
	                            <i class="zmdi zmdi-account"></i>
	                        </span>
	                        <div class="fg-line requerido">
	                            <label for="{{ form.tipo_usuario.id_for_label }}" class="control-label requerido">{{ form.tipo_usuario.label }}:</label>
	                            {{ form.tipo_usuario }}
	                        </div>
	                        {% for error in form.tipo_usuario.errors %}
	                        	<small class="help-block">{{ error }}</small>
	                        {% endfor %}
	                    </div>
	                </div>
	                <br class="space">
	                <div class="col-md-4">
	                    <div class="input-group fg-float {{ form.areas.css_classes }}">
	                        <span class="input-group-addon">
	                            <i class="zmdi zmdi-account"></i>
	                        </span>
	                        <div class="fg-line requerido">
	                            <label for="{{ form.areas.id_for_label }}" class="control-label requerido">{{ form.areas.label }}:</label>
	                            {{ form.areas }}
	                        </div>
	                        {% for error in form.areas.errors %}
	                        	<small class="help-block">{{error}}</small>
	                        {% endfor %}
	                    </div>
	                </div>
	            </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" value="Aceptar" name="aceptar" class="btn btn-primary btn-block">Aceptar</button>
                    </div>
                </div>
			</div>
        </form>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	jQuery(document).ready(function($) {
		if ($('#contrasena').hasClass('has-error')) {
            $('#id_contrasena').on('keydown', function() {
                $('#contrasena').removeClass('has-error');
            });
        };

        var validar = function(emisor, receptor) {

            emisor.on('keydown keyup blur focus click change', function(){
                var $val = emisor.val();
                var listen = function (){
                    if ($val.length >= 10) {
                        if (receptor.hasClass('has-error')) {
                            receptor.removeClass('has-error');
                        };

                        if (receptor.hasClass('has-warning')) {
                            receptor.removeClass('has-warning');
                        };
                        receptor.addClass('has-success');

                    } else if ($val.length <= 3) {
                        if (receptor.hasClass('has-warning') || receptor.hasClass('has-success')) {
                            receptor.removeClass('has-warning')
                                .removeClass('has-success')
                                .addClass('has-error');
                        }

                    } else if ($val.length <= 9) {
                        if (receptor.hasClass('has-success')) {
                            receptor.removeClass('has-success')
                                .addClass('has-warning');

                        } else if (receptor.hasClass('has-error')) {
                            receptor.removeClass('has-error')
                                .addClass('has-warning');

                        } else {
                            receptor.addClass('has-warning');
                        }
                    } 
                }
                setTimeout(listen, 200);
            });
        }

        validar($('#id_contrasena'), $('#contrasena'));
        validar($('#id_contrasena_confirmacion'), $('#contrasena_confirmacion'));

	});
</script>
{% endblock js %}